/* Default element styling */

body {
  margin: 0px;
  padding: 0px;
  color: rgb(109, 113, 114);
  
  background: url(../img/bgnoise.png) repeat top left;
}

p {
  font-family: "Arvo";
  letter-spacing: 0.08em;
  font-size: 13px;
}

ul li {
  font-family: "Arvo";
  letter-spacing: 0.08em;
  font-size: 13px;
}

h1 {
  color: #444;
  font-family: "Monda";
  letter-spacing: 0.08em;
  font-size: 28px;
  font-weight: normal;
  line-height: 28px;
  margin-top: 0;
  margin-bottom: 20px;
}

h2 {
  color: #555;
  font-family: "Monda";
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.08em;
}

h3 {
  font-family: "Monda";
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.08em;
}

a:link, a:active, a:visited, a:hover {
  font-family: "Arvo";
  letter-spacing: 0.08em;
  font-size: 13px;
  text-decoration: none;
  font-weight: bold;
  color: #444;
}

a:hover { 
  color: rgb(156, 170, 175);
}

img {
  border: 1px solid rgb(156, 170, 175);
}

iframe, object, embed { 
  border: 1px solid rgb(156, 170, 175);
}

.container-fluid {
  padding: 0;
  padding-top: 20px;
}

.row-fluid {
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
}

.span1 {
  min-height: 1px !important;
  height: 1px;
}

.modal {
  width: 720px;
  margin-left: -360px;
}

@media (max-width: 767px) {
  .modal {
    width: auto;
    margin-left: 0;
  }
}

.modal-body {
  text-align: left;
  padding: 40px;
}

/* Dividers */

.thickline {
  height: 3px;
}

.thinline {
  height: 1px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.littlethinline {
  height: 1px;
  max-width: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.gray {
  background-color: rgb(109, 113, 114);
}

.softblue {
  background-color: rgb(156, 170, 175);
}

.divider {
  text-align: center;
}

.divider p {
  font-size: 24px;
  margin: 0;
}

/* Banner */

.banner {
  background: url(../img/navy_blue.png) repeat top left;
  text-align: center;
  padding: 40px;
}

.banner img {
  border: none;
  width: 400px;
}

@media (max-width: 767px) {
  .banner img {
    margin-top: 150px;
  }
}

.banner .ticket {
  position: absolute;
  top: 70px;
  left: 0;
}

.banner .ticket a {
  color: rgb(231, 227, 219);
}

.banner .ticket a:hover {
  color: #444;
}

.banner .ticket .text {
  text-align: left;
  float: left;
  padding: 0 20px;
  height: 60px;
  background-color: rgb(235, 156, 77);
}

.banner .ticket .text p {
  font-family: "Monda";
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.1em;
  margin-bottom: 5px;
  font-weight: normal;
}

.banner .ticket .text p.buy {
  margin-top: 10px;
}

.banner .ticket .text p.deadline {
  font-size: 12px;
}

.banner .ticket .arrow {
  width: 0; 
	height: 0;
	float: left;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 30px solid rgb(235, 156, 77);
}

/* Information */

.information {
  color: #444;
  text-align: center;
  padding: 40px 40px 0 40px;
}

.information p {
  font-family: "Monda";
  font-size: 16px;
  line-height: 16px;
}

.information .whenwhere i.icon-pushpin {
  padding-right: 10px;
}

.information .whenwhere i.icon-calendar {
  padding-right: 13px;
}

.information .oneliner p {
  font-size: 20px;
  line-height: 26px;
}

.information .followus a {
  font-size: 30px;
  line-height: 30px;
}

.information .followus i.icon-twitter {
  padding-left: 10px;
}

/* Conference teaser */

.teaser {
  padding: 20px 50px;
  padding-top: 40px;
}

.teaser .icon {
  float: left;
  padding-top: 30px;
}

.teaser i {
  font-size: 70px;
  font-weight: normal;
}

.teaser i.cometo {
  color: rgb(174, 94, 114);
}

.teaser i.affordable {
  color: rgb(98, 135, 159);
}

.teaser i.developers {
  color: rgb(156, 169, 88);
}

.teaser p {
  padding-left: 90px;
  margin-bottom: 20px;
}

.teaser h2 {
  padding-left: 90px;
  margin-top: 0;
}

/* Speakers */

.speakers {
  padding: 40px;
  text-align: center;
}

.speakers h2 {
  margin-top: 20px;
}

.speakers img {
  margin-top: 20px;
}

.speakers .read-more a {
  display: block;
  padding-top: 10px;
}

.speakers .read-less a {
  display: block;
  padding-top: 10px;
}

.speakers .michael {
  text-align: right;
}

.speakers .chad {
  text-align: left;
}

/* Schedule */

.schedule {
  padding: 40px;
  text-align: center;
}

@media (max-width: 767px) {
  .schedule .header {
    display: none;
  }
}

.schedule .slots {
  overflow: hidden;
  padding: 0;
}

@media (max-width: 767px) {
  .schedule .slots {
    overflow: visible;
  }
}

.schedule .slots .slot {
  padding: 10px 20px;
  margin-top: 10px;
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

@media (max-width: 767px) {
  .schedule .slots .slot {
    margin-bottom: 0px;
    padding-bottom: 10px;
    padding-left: 80px;
  }
}

.schedule .slots .presentation {
  background-color: rgba(174, 94, 114, 0.1);
}

.schedule .slots .workshop {
  background-color: rgba(98, 135, 159, 0.1);
}

.schedule .slots .continued {
  margin-top: 0;
}

@media (max-width: 767px) {
  .schedule .slots .continued {
    display: none;
  }
}

.schedule .slots .plenary {
  background-color: rgba(156, 169, 88, 0.1);
}

.schedule .slots p.time {
  color: #555;
  font-family: "Monda";
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.08em;

  margin-top: 20px;
}

@media (max-width: 767px) {
  .schedule .slots p.time {
    position: absolute;
    margin-left: 10px;
  }
}

.schedule .slots p.title {
  font-family: "Monda";
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.08em;
}

/* Session detais */

.sessiondetails h2 {
  margin-top: 20px;
}

.sessiondetails .speaker img {
  width: 100px;
  float: left;
  margin-top: 3px;
}

.sessiondetails .speaker h3 {
  margin-top: 20px;
}

.sessiondetails .speaker p {
  margin-left: 120px;
}

/* Venue */

.venue {
  padding: 40px;
  text-align: center;
}

.venue iframe {
  margin-top: 20px;
}

.venue img {
  margin-top: 20px;
}

.venue h2 {
  margin-top: 20px;
}

.venue .maassilo {
  text-align: left;
}

.venue .hotel {
  margin-top: 35px;
  min-height: 190px;
  text-align: left;
}

.venue .hotel img {
  margin-top: 5px;
  width: 100px;
  float: left;
}

.venue .hotel p {
  padding-left: 120px;
}

/* Sponsors */

.sponsors {
  padding: 40px;
  padding-bottom: 80px;
  text-align: center;
}

.sponsors img { 
  border: none; 
}

.sponsors a { 
  color: rgb(156, 170, 175); 
  font-weight: normal 
}

.sponsors h2 {
  margin: 30px 0;
}

.sponsors .silver img {
  max-width: 150px;
}

/* Organisation */

.organisation {
  background: url(../img/navy_blue.png) repeat top left;
  padding: 20px 40px;
}

.organisation .members {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.organisation .member {
  float: left;
}

.organisation img {
  border: 1px solid rgb(109, 113, 114);
  width: 75px;
  margin: 10px;
}