/** Default elements */

body {
  color: white;
}

h1 {
  font-weight: 300;
  letter-spacing: 0.1em;
}

h2 {
  font-weight: 100;
  letter-spacing: 0.05em;
  line-height: 40px;
}

h3 {
  font-weight: 100;
  letter-spacing: 0.05em;
  line-height: 36px;
  margin-top: 0px;
}

h4 {
  font-weight: 100;
  letter-spacing: 0.05em;
  line-height: 26px;
  margin-top: 0px;
}

p, li {
  font-family: "Roboto";
  font-weight: 100;
  letter-spacing: 0.15em;
}

img {
  width: 100%;
}

a:link, a:active, a:visited, a:hover {
  color: white;
  text-decoration: none;
  font-weight: normal;
  letter-spacing: 0.23em;
  line-height: 22px;
}

a:hover {
  color: rgb(156, 170, 175);
}

.block {
  background-color:rgba(0, 0, 0, 0.8);
  margin-bottom: 30px;
  padding: 30px;
}

.block h1, h2{
  margin-top: 0px;
}


/** Banner */

.banner {
  background: url(../img/joyofcoding-1024.jpg) no-repeat left center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  padding: 75px 0;
  text-align: center;
}

@media (min-width: 1024px) {
  .banner {
    background: url(../img/joyofcoding-1600.jpg) no-repeat left center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

@media (min-width: 1600px) {
  .banner {
    background: url(../img/joyofcoding-2560.jpg) no-repeat left center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

@media only screen (device-width: 320px), (device-width: 768px) {
  .banner {
    -webkit-background-size: auto 100%;
    background-attachment: scroll;
  }
}

.banner img.logo {
  max-width: 400px;
}

.banner .hello h1, .banner .hello h2 {
  text-shadow: 0 1px 10px rgba(0, 0, 0, .8);
}

.banner .actions {
  top: 50px;
  left: 0;
  position: absolute;
}

.banner .actions .block {
	margin-bottom: 0px;
	padding: 20px;
}

.banner .actions .tickets {
	background-color: rgba(80, 80, 80, 0.8);
}

.banner .actions .tickets p:first-of-type {
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .banner img.logo {
    margin-top: 200px;
  }

	.banner .actions {
		width: 100%;
		top: 30px;
	}

	.banner .actions .block {
		padding: 10px;
	}
}


/** Speakers */

.speakers {
  background: black;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 50px;
}

.speakers img {
  margin: 20px 0;
  max-width: 200px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}

@media (max-width: 767px) {
	.speakers img, .speakers p {
		display: none;
	}
}


/** Program */

.program {
  background: url(../img/coding-1024.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  padding: 75px 0;
  color: black;
}

@media (min-width: 1024px) {
  .program {
    background: url(../img/coding-1600.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

@media (min-width: 1600px) {
  .program {
    background: url(../img/coding-2560.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

@media only screen and (device-width: 320px), (device-width: 768px) {
  .program {
    background: white;
  }

  .program .workshop, .program .plenary, .program .presentation, .program .time, .program .keynote, .program .unconference {
    border-left: 1px solid black;
    border-right: 1px solid black;
  }

}

.program p {
  font-weight: 300;
}

.program h3, .program h4 {
  font-weight: 400;
  line-height: 20px;
}

.program a:link, .program a:active, .program a:visited, .program a:hover {
  color: black;
  text-decoration: none;
  font-weight: normal;
}

.program a:hover {
  color: rgb(156, 170, 175);
}

.program .slot {
  padding: 0 15px;
  overflow: hidden;
}

.program .tracks div {
  padding-top: 25px;
  height: 100px;

  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.program .tracks h4 {
  font-weight: 300;
}

.program .workshop, .program .plenary, .program .presentation, .program .time, .program .keynote, .program .unconference {
  padding-top: 15px;
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

.program .time {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.program .plenary {
  background-color: rgba(200, 200, 200, 0.95);
}

.program .unconference {
  background-color: rgba(220, 220, 220, 0.95);
}

.program .workshop {
  background-color: rgba(255, 255, 255, 0.95);
}

.program .presentation a:link,
.program .presentation a:active,
.program .presentation a:visited,
.program .keynote a:link,
.program .keynote a:active,
.program .keynote a:visited {
  color: white;
}

.program .presentation a:hover,
.program .keynote a:hover {
  color: rgb(156, 170, 175);
}

.program .presentation h4,
.program .keynote h3 {
  font-weight: 300;
}

.program .presentation {
  background-color: rgba(100, 100, 100, 0.95);
  color: white;
}

.program .keynote {
  background-color: rgba(80, 80, 80, 0.95);
  color: white;
}

@media (max-width: 767px) {
  .program .continued {
    display: none;
  }

  .program .tracks {
    display: none;
  }
}


/** Session details */

.session {
  color: black;
}

.session .modal-dialog {
  width: 800px;
}

@media (max-width: 767px) {
  .session .modal-dialog {
    width: 100%;
  }
}

.session .modal-header {
  padding: 15px 30px;
}

.session .modal-body {
  padding: 30px;
}

.session .speaker {
  min-height: 190px;
}

.session .speaker img {
  width: 150px;
  float: left;
  margin-top: 3px;
  margin-right: 20px;
  margin-bottom: 5px;

  border: 1px solid black;
}

.session h4 {
  margin-top: 25px;
}

.session p {
  font-weight: 300;
  letter-spacing: 0.1em;
}

.session a {
  color: black;
}

.session h3, .session h4 {
  font-weight: 400;
}


/** Parties */

.parties {
  background: black;
  padding: 50px 0;
}

.parties .issponsoredby {
  margin-top: 30px;
}

.parties .issponsoredby img {
  width: 200px;
  margin-top: 10px;
}


/** Location */

.location {
  background: url(../img/hulstkamp-1024.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  padding: 50px 0;
}

@media (min-width: 1024px) {
  .location {
    background: url(../img/hulstkamp-1600.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

@media (min-width: 1600px) {
  .location {
    background: url(../img/hulstkamp-2560.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

@media only screen and (device-width: 320px), (device-width: 768px) {
  .location {
    background: white;
  }
}

@media (max-width: 767px) {
	.location .pictures {
		display: none;
	}
}


/** Why */

.why {
  background: black;
  padding: 50px 0;
}

.why .socialmedia a {
  display: block;
  font-size: 30px;
  margin-top: 10px;
}

@media (max-width: 767px) {
  .why .socialmedia {
    margin-bottom: 20px;
  }

  .why .socialmedia a {
    display: inline;
  }
}

.why .socialmedia i.icon-ok {
  -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
  -o-transform:matrix(-1, 0, 0, 1, 0, 0);
}

.why .lastyear a {
  display: block;
  font-size: 14px;
}

.why .lastyear a i {
  margin-right: 20px;
}

.why .about {
  margin-top: 20px;
}


/** Sponsors */

.sponsors {
  background: white;
  text-align: center;
  color: black;
  padding: 50px 0;
}

.sponsors h2 {
  font-weight: 300;
  margin-top: 70px;
}

.sponsors h2:first-of-type {
  margin-top: 0;
}

.sponsors img {
  max-width: 100%;
  max-height: 50px;
  width: auto;
  margin-top: 30px;
}


/* Organisation */

.organisation {
  background: black;
  padding: 40px;
}

.organisation .members {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.organisation .member {
  float: left;
}

.organisation img {
  width: 100px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  margin: 0 20px;
}

.organisation .contactus {
  text-align: center;
  margin-top: 30px;
}

@media (max-width: 767px) {
	.organisation .members {
		display: none;
	}
}


/** Call for sessions */

.cfs {
  background: url(../img/coding-1024.jpg) no-repeat left center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  margin-top: 70px;
}

@media (min-width: 1024px) {
  .cfs {
    background: url(../img/coding-1600.jpg) no-repeat left center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

@media (min-width: 1600px) {
  .cfs {
    background: url(../img/coding-2560.jpg) no-repeat left center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

@media only screen and (orientation: portrait) and (device-width: 320px), (device-width: 768px) {
  .cfs {
    -webkit-background-size: auto 100%;
    background-attachment: scroll;
  }
}

@media only screen and (orientation: landscape) and (device-width: 320px), (device-width: 768px) {
  .cfs {
    -webkit-background-size: 100% auto;
    background-attachment: scroll;
  }
}

.cfs h2 {
  margin-top: 40px;
}
