.img-wrapper img {
  max-width: 100% !important;
  height: auto;
  display: block;
}

.img-wrapper {
  padding-top: 30px;
}

@media (min-width: 992px) {
  .content .row {
    margin-bottom: 50px;
  }
}
