/* Layout */

html { padding:2vw; }

body { 
  display:flex;
  flex-wrap:wrap;
  margin:0;
  border: 2px solid;
  border-radius: 2vw;
  min-height:90vh;
}

nav, header, article, section, footer { padding: 0 2vw; }
nav, header, footer { width:100%; }

nav, footer { padding-top:1em; padding-bottom:0.5em; }
nav { border-bottom: 2px solid; }

nav ul, footer ul { margin:0; padding-left:0; }
nav li, footer li { display:inline-block; margin-right:0.3em; }
nav li:after, footer li:after { content:'•'; margin-left:0.5em; }
nav li:last-child:after, footer li:last-child:after { display:none; }

footer { margin-top:2em; border-top: 2px solid; }

h1 { margin-bottom:0;}
header { margin-bottom:1em; }
h2 { margin:1em 0 0.5em 0;}

p, li { max-width:40em; }

li:before { margin-right:0.2em; }
li { margin-bottom:0.5em;}

.diagram { text-align:center; }
.diagram img { max-width:100%; }


@media (max-width: 640px) and (orientation: portrait) {
  nav, header, article, section, footer { padding: auto 3vw; }
  header, h1, h2 { margin-bottom:0; }
}

/* Text */

@font-face {
  font-family: "din";
  src: url(din1451alt.ttf);
}
body { font-family: "din", sans-serif; font-weight:500; }

h1, h2 { font-family: "Dosis" }
h1 { font-size:360%; font-weight:200; }
h2 { font-size:240%; font-weight:300; }

nav a, footer a { text-decoration:none; }
nav a:hover, footer a:hover { text-decoration:underline; }
nav li:first-child:before { display:none; }

p, li { line-height:1.5em; }

@media (max-width: 640px) and (orientation: portrait) {
  h1 { font-size:200%; font-weight:300; }
  h2 { font-size:150%; }
  p, li { line-height:inherit; }
}


/* Colour */

body { color:#080; border-color:#080; }

a { color:inherit; }
a:hover { color:#04c; }
.diagram a { color:#080; }
