/* Layout */

html { padding:2vw; }

body { 
  display:flex;
  flex-direction:column;
  justify-content:space-between; 
  margin:0;
  border: 2px solid;
  border-radius: 2vw;
  min-height:92vh;
}

nav, footer { flex-grow:0; }
main { flex-grow:0; }
nav, header, article, section, footer { padding: 0 2vw; }
/*nav, header, footer { width:100%; }*/

nav { padding-top:0.5em; padding-bottom:0.2em; display:flex; align-items:center; }
nav { border-bottom: 2px solid; }

nav img { width:4em; margin-right:0.5em; }
nav ul, footer ul { margin:0; padding-left:0; }
nav li, footer li { display:inline-block; margin-right:0.3em; }
nav li:after, footer li:after { content:'•'; margin-left:0.5em; }
nav li:last-child:after, footer li:last-child:after { display:none; }

footer { margin-top:2em; border-top: 2px solid; padding-top:1em; padding-bottom:0.5em; }

h1 { margin-bottom:0;}
header { margin-bottom:1em; }
h2 { margin:1em 0 0.5em 0;}

.columns, p, li { max-width:40em; }

li:before { margin-right:0.2em; }
li { margin-bottom:0.5em;}

.columns { display:flex; justify-content:space-between; }

.diagram { text-align:center; }
.diagram img { max-width:100%; }

body.index main { display:flex; justify-content:space-around; }
body.index main p { max-width:inherit; }
body.index main article { max-width:9em; }
body.index header { margin:3em 0; width:inherit; }
body.index header { text-align:center;}
body.index header svg { height:15em; width:18em; }

@media (max-width: 640px) and (orientation: portrait) {
  nav, header, article, section, footer { padding: auto 3vw; }
  header, h1, h2 { margin-bottom:0; }
}

/* Text */

@font-face {
  font-family: "din";
  src: url(din1451alt.ttf);
}
body { font-family: "din", sans-serif; font-weight:500; }

h1, h2 { font-family: "Dosis" }
h1 { font-size:360%; font-weight:200; }
h2 { font-size:240%; font-weight:300; }

nav a, footer a { text-decoration:none; }
nav a:hover, footer a:hover { text-decoration:underline; }
nav li:first-child:before { display:none; }

p, li { line-height:1.5em; }
address { font-style:normal; margin-left: 2em; }

.diagram { font-family:"Dosis", sans-serif; }

body.index article { font-family: "Dosis"; font-size:240%; font-weight:300; }

@media (max-width: 640px) and (orientation: portrait) {
  h1 { font-size:200%; font-weight:300; }
  h2 { font-size:150%; }
  p, li { line-height:inherit; }
}


/* Colour */

body { color:#080; border-color:#080; }

a { color:inherit; }
a:hover, .diagram a:hover { color:#04c; }
.diagram a { color:inherit; }
