/* Boxes */

body { margin: 0; }
header h1 { display: none; }
header svg { width: 100%; height: 26vw; padding: 5vw 0; margin: 0; }
header p { margin: 0; }
header:after { height:2em; width: 100%; display:block; content:' '}

/* Text */

body { font-family: 'Poppins', sans-serif; }
header { text-align: center; font-size: 2.5vw; font-weight: bold; text-transform: uppercase; letter-spacing: 0.2em; line-height: 1.5em; }

/* Colour */

body { background-color:black; color: white; }
header { background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 88%, rgba(0, 0, 0, 0)) }

/* Images */

body { background: no-repeat center center fixed; background-size: cover; }
@media (max-width: 960px) and (orientation: landscape) { body { background-image: url(background/doelen-stage-landscape-small.jpg) }}
@media (min-width: 960px) and (orientation: landscape) { body { background-image: url(background/doelen-stage-landscape.jpg) }}
@media (max-width: 640px) and (orientation: portrait) { body { background-image: url(background/doelen-stage-portrait-small.jpg) }}
@media (min-width: 640px) and (orientation: portrait) { body { background-image: url(background/doelen-stage-portrait.jpg) }}
