/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
header#masthead {
	@extend .padding;

	h1 {
		@extend .visuallyhidden;
	}
	
	#site-branding {
		svg {
			color: $red;
			display: block;
			margin-top: 1.5em;
			height: 50px;
			transition: color $base-duration;
			width: 140px;

			&:hover,
			&:active {
				color: white;
			}
		}
	}
	
	#site-navigation {
		position: absolute;
		top: 0;
		right: 0;
	}
}
