        <aside id="footer">
          <section id="contact">
            <h2>Keep in contact</h2>
            <ul class="social">
					{{ with .Site.Params.twitter }}<li><a href="{{ . }}" target="_blank"><svg class="icon icon-twitter" aria-hidden="true" role="img"><use data-href="#icon-twitter" xlink:href="#icon-twitter" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg></a></li>{{ end }}
					{{ with .Site.Params.mail }}<li><a href="mailto:{{ . }}" target="_blank"><svg class="icon icon-mail" aria-hidden="true" role="img"><use data-href="#icon-mail" xlink:href="#icon-mail" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg></a></li>{{ end }}
					{{ with .Site.Params.flickr }}<li><a href="{{ . }}" target="_blank"><svg class="icon icon-flickr" aria-hidden="true" role="img"><use data-href="#icon-flickr" xlink:href="#icon-flickr" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg></a></li>{{ end }}
            </ul>
            <p class="signup">Sign up for our <a href="http://joyofcoding.us6.list-manage1.com/subscribe?u=3c1a490ebd&amp;id=4d05ca0531" target="_blank">newsletter</a> & stay in touch!</p>
          </section>
          <div class="wrap">
            <section id="location">
              <h2>Location</h2>
              <p>Rotterdamse Schouwburg <br>
              Schouwburgplein 25 <br>
              3012 CL Rotterdam</p>
              <p><a href="https://www.rotterdamseschouwburg.nl/" target="_blank">www.rotterdamseschouwburg.nl</a></p>
            </section>
            <section id="route">
              <h2>Route</h2>
              <p>Plan your route by public transport: <br>
              <a href="http://9292.nl/en" target="_blank">9292.nl/en</a></p>
              <p>Car parking:<br>
                <a href="http://parkereninrotterdam.nl/parkeergarage/schouwburgplein1/" target="_blank">parkereninrotterdam.nl</a></p>
            </section>
          </div>
        </aside>
