<!doctype html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ if ne .URL "/" }}{{ .Title }} &middot; {{ end }}{{ .Site.Title }} | 30 June 2017</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="apple-touch-icon" href="/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/img/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/img/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="mask-icon" href="/img/favicon/safari-pinned-tab.svg" data-color="#f04158">
    <meta name="theme-color" content="#f04158">
    <link rel="stylesheet" href="/css/style-min.css">
  </head>
  <body>

    <header id="masthead">
      <a href="/" id="site-branding" rel="home">
        <h1 class="title">Joy of coding</h1>
        <svg aria-hidden="true" role="img"><use data-href="#logo-joyofcoding" xlink:href="#logo-joyofcoding" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg>
      </a>
      <nav id="site-navigation">
		<button class="menu-toggle" aria-controls="primary-menu" aria-expanded="false"><span>Menu</span></button> 
        <ul id="primary-menu">
          <li><a href="/schedule">Schedule 2017</a></li>
          <li><a href="/about">About Us</a></li>
          <li><a href="/venue">Venue</a></li>
          <li><a href="/code-of-conduct">Code of conduct</a></li>
          <li><a href="http://inventid.to/joyofcoding" target="_blank" class="alt">Tickets</a></li>
        </ul>
      </nav>
    </header>