        <div id="sponsors">
          <section>
            <h2>Thanks for making it possible in 2017. Again!</h2>
            <p>Our 2017 Partners</p>
            <ul id="partner_logos">
              <li><a href="http://42.nl" target="_blank"><img src="./img/spsr_42.svg" alt="Logo 42"></a></li>
              <li><a href="http://rabobank.nl" target="_blank"><img src="./img/spsr_rabobank.png" alt="Logo Rabobank"></a></li>
            </ul>
            <p>Our 2017 Sponsors</p>
            <ul id="sponsor_logos">
              <li><a href="http://bol.com" target="_blank"><img src="./img/spsr_bol.png" alt="Logo Bol.com"></a></li>
              <li><a href="http://floorplanner.com" target="_blank"><img src="./img/spsr_floorplanner.png" alt="Logo Floorplanner"></a></li>
              <li><a href="http://hoppinger.com" target="_blank"><img src="./img/spsr_hoppinger.svg" alt="Logo Hoppinger"></a></li>
              <li><a href="http://CodeWise.nl" target="_blank"><img src="./img/spsr_codewise.jpg" alt="Logo CodeWise"></a></li>
              <li><a href="http://jdriven.com" target="_blank"><img src="./img/spsr_jdriven.svg" alt="Logo JDriven"></a></li>
              <li><a href="http://qsd.nl" target="_blank"><img src="./img/spsr_qsd.png" alt="Logo QSD"></a></li>
              <li><a href="http://afas.nl" target="_blank"><img src="./img/spsr_afas.png" alt="Logo AFAS"></a></li>
              <li><a href="http://burst-digital.com" target="_blank"><img src="./img/spsr_burst.svg" alt="Logo Burst"></a></li>
              <li><a href="http://helloprint.nl" target="_blank"><img src="./img/spsr_helloprint.svg" alt="Logo HelloPrint"></a></li>
              <li><a href="http://www.qwan.eu" target="_blank"><img src="./img/spsr_qwan.png" alt="Logo QWAN"></a></li>
              <li><a href="https://datascienceworkshops.com" target="_blank"><img src="./img/spsr_datascienceworkshops.png" alt="Logo Datascience Workshops"></a></li>
              <li><a href="https://www.finalist.nl" target="_blank"><img src="./img/spsr_finalist.jpg" alt="Logo Finalist"></a></li>
            </ul>
            <p>Our 2017 Media partner</p>
            <ul id="sponsor_logos">
              <li><a href="https://www.infoq.com/?utm_source=joyofcoding&utm_medium=link&utm_campaign=partners" target="_blank"><img src="./img/spsr_infoq.jpg" alt="Logo InfoQ"></a></li>
            </ul>
          </section>
        </div>
