        <div id="sponsors">
          <section>
            <h2>Thanks for making it possible in 2017. Again!</h2>
            <p>Our 2017 Partners:</p>
            <ul id="partner_logos">
              <li><a href="http://42.nl" target="_blank"><img src="/img/spsr_42.png" alt=""></a></li>
              <li><a href="http://rabobank.nl" target="_blank"><img src="/img/spsr_rabobank.png" alt=""></a></li>
            </ul>
            <p>Our 2017 Sponsors:</p>
            <ul id="sponsor_logos">
              <li><a href="http://bol.com" target="_blank"><img src="/img/spsr_bol.png" alt=""></a></li>
              <li><a href="http://floorplanner.com" target="_blank"><img src="/img/spsr_floorplanner.png" alt=""></a></li>
              <li><a href="http://hoppinger.com" target="_blank"><img src="/img/spsr_hoppinger.svg" alt=""></a></li>
              <li><a href="http://CodeWise.nl" target="_blank"><img src="/img/spsr_codewise.jpg" alt=""></a></li>
              <li><a href="http://jdriven.com" target="_blank"><img src="/img/spsr_jdriven.png" alt=""></a></li>
              <li><a href="http://qsd.nl" target="_blank"><img src="/img/spsr_qsd.png" alt=""></a></li>
            </ul>
          </section>
        </div>