/*--------------------------------------------------------------
# Speaker box
--------------------------------------------------------------*/
.spkr {
  position: relative;
  margin-bottom: 6em;

  @include grid-media($xlarge) {
    margin-bottom: 12.5em;
  }

  .spkr_meta {
    position: relative;

    .spkr_meta_wrap {
      font-size: .75em;
      left: 50%;
      position: absolute;
      text-align: center;   
      text-transform: uppercase;
      text-shadow: 0 0 32px $red;
      padding-top: 1em;
      transform: translateX(-50%);
      width: 100%;
    }

    .times {
      white-space: nowrap;
    }

    /* White line on top */
    &:before {
      border-top: $base-border;
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      margin: 0 auto;
      width: 100%;
  
      @include grid-media($medium) {
        width: 46.155%;
        margin-left: 0;
      }
    }
  }

  img {
    box-shadow: 4em 4em 4em 0 rgba($red,.5);
    position: absolute;
    top: 0;
    right: -2em;
    width: 100%;

    @include grid-media($medium) {
      right: 0;
      width: 46.155%;
    }
  }
  
  .spkr_content {
    position: relative;

    h3 {
      padding-top: 3.75em;
      margin-bottom: .25em;
  
      @include grid-media($medium) {
        padding-top: 2.25em;
      }
  
      a {
        color: white;
        text-decoration: none;
    
        &:active,
        &:hover {
          text-decoration: underline;
        }
      }
    }
    
    blockquote {
      display: none;
  
      @include grid-media($medium) {
        display: block;
        width: 80%;
      }
    }
    
    .spkr_bio {
      font-size: .9375em;
      margin-bottom: 1.5em;
      @include grid-media($medium) {
        width: 46.155%;
      }
    }
  }

  .spkr_social {
    font-family: "Source Code Pro";
    font-size: .9375em;
    text-transform: uppercase;
    font-weight: bold;

    @include grid-media($medium) {
      width: 100%;
      text-align: right;
    }

    /* White line on bottom */
    &:after {
      border-top: $base-border;
      content: '';
      display: block;
      margin: 0 auto;
      width: 100%;
    
      @include grid-media($medium) {
        width: 46.155%;
        margin-left: 0;
      }
    }

    a {
      color: white;
      text-decoration: none;

      &:hover,
      &:active {
        text-decoration: underline;
      }
    }     
  }
}

/* Switch sides */ 
.spkr_alt {

  .spkr_content {

    h3 {
      text-align: right;
    }

    .spkr_bio {
      margin-left: auto;
    }
  }

  img {
    right: auto;
    left: -2em;

    @include grid-media($medium) {
      right: auto;
    }
  }

  .spkr_meta {

    &:before {
      left: auto;
      right: 0;
    }
  }

  .spkr_social {

    @include grid-media($medium) {
      text-align: left;
    }

    &:after {
      @include grid-media($medium) {
        margin-left: auto;
        margin-right: 0;
      }
    }
  }
}