/*--------------------------------------------------------------
# Homepage
--------------------------------------------------------------*/
body.home {
	background-color: $red;
  color: white;
	background-image: url('../img/bg_mobile.jpg'),url('../img/bg_pattern_pink.png');
	background-position: center top, center top;
	background-size: 100%, auto;
	background-repeat: no-repeat, repeat;
	@include grid-media($medium) {
  	background-image: url('../img/bg_main.png'),url('../img/bg_pattern_pink.png');
  }

  #masthead {
    background: -moz-linear-gradient(top,  rgba(0,36,179,1) 0%, rgba(0,36,179,0.5) 30%, rgba(0,36,179,0) 100%);
    background: -webkit-linear-gradient(top,  rgba(0,36,179,1) 0%,rgba(0,36,179,0.5) 30%,rgba(0,36,179,0) 100%);
    background: linear-gradient(to bottom,  rgba(0,36,179,1) 0%,rgba(0,36,179,0.5) 30%,rgba(0,36,179,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0024b3', endColorstr='#000024b3',GradientType=0 );
  }
  
  .entry-content {
		strong {
			font-size: 1.5em;
			letter-spacing: -.06125em;
		}
		
		.btn_wrap {
      @include grid-media($large) {
        margin-left: 15%;
      }
		}
  }


  /*--------------------------------------------------------------
  # Lineup
  --------------------------------------------------------------*/
  #lineup {
    @include grid-column(12);

		.lineup_container {
  		display: flex;
  		flex-flow: row wrap;
  		justify-content: center;
  		@include grid-media($large) {
  			justify-content: space-between;
  		}
  		
		}
  	
  	article {
  		position: relative;
  		margin-left: auto;
  		margin-right: auto;
  	 	width: 100%;
  	 	margin-top: 2.5em;	

   		@include grid-media($medium) {
  		 	margin-top: 0;	
  		 	width: 85%;
  		}
  		
  		@include grid-media($large) {
  		 	width: 46.155%;
  		}
  	}
  }

  /*--------------------------------------------------------------
  # Lineup Adjustemnts
  --------------------------------------------------------------*/
  #lineup {

  	article {
  
  		// Speakers
  		&:nth-child(1) { order: 1; } 
  		&:nth-child(2) { order: 2; } 
  		&:nth-child(3) { order: 5; @extend .spkr_alt; }
  		&:nth-child(4) { order: 6; @extend .spkr_alt; }
  		&:nth-child(5) { order: 9; }
  		&:nth-child(6) { order: 10; }

  		// Callouts
  		&:nth-child(7) { order: 3; }
  		&:nth-child(8) { order: 4; @extend .ca_alt;}
  		&:nth-child(9) { order: 7; @extend .ca_alt;}
  		&:nth-child(10) { order: 8; }
  		&:nth-child(11) { order: 11; }
  		
  		// Shift left
  		&:nth-child(1) {
  			@include grid-media($xlarge) {
  				margin-left: 51.845%;
  			}
  		}

  		// Shift top 
  		&:nth-child(1) { @include grid-media($xlarge) { margin-top: -20em; } } // Carin
  		&:nth-child(2) { @include grid-media($xlarge) { margin-top: -12em; } } // Ted
  		&:nth-child(3) { @include grid-media($xlarge) { margin-top: 20em; } } // Neal
  		&:nth-child(4) { @include grid-media($xlarge) { margin-top: -12em; } } // Kerr
  		&:nth-child(5) { @include grid-media($xlarge) { margin-top: 20em; } } // Falco
  		&:nth-child(6) { @include grid-media($xlarge) { margin-top: -8em; } } // Mariano
  		&:nth-child(7) { @include grid-media($xlarge) { margin-top: 20em; } } // Why Join
  		&:nth-child(8) { @include grid-media($xlarge) { margin-top: -12em; } } // Its by devs
  		&:nth-child(9) { @include grid-media($xlarge) { margin-top: 25em; } } // Affordable
  		&:nth-child(10) { @include grid-media($xlarge) { margin-top: -10em; } } // Code of
  		&:nth-child(11) { @include grid-media($xlarge) { margin-top: 16em; } } // Previous

      // Speaker numbers
  		&:nth-child(1) { .spkr_wrap:before { content: url('../img/nr_carin_meier_zeven.png'); } }
  		&:nth-child(2) { .spkr_wrap:before { content: url('../img/nr_neal_ford_een.png'); } }
  		&:nth-child(3) { .spkr_wrap:before { content: url('../img/nr_koshin_mariano_nul.png'); } }
  		&:nth-child(4) { .spkr_wrap:before { content: url('../img/nr_ted_neward_zes.png'); } }
			&:nth-child(5) { .spkr_wrap:before { content: url('../img/nr_jessica_kerr_drie.png'); } }
  		&:nth-child(6) { .spkr_wrap:before { content: url('../img/nr_koshin_mariano_nul.png'); } }
  		
  		&:last-child .callout {
    		margin-bottom: 4em;
  		}

      
  		.spkr_wrap {

  			&:before {
  				position: absolute;
//   				z-index: -2;
  				top: -3.75rem;
  				right: -2.5rem;
  				@include grid-media($medium) {
  					right: -2.5rem;
  					left: 50%;
            transform: translateX( -50% );
  				}
  		  }
      }
  	}
  }


  /*--------------------------------------------------------------
  # Sponsors
  --------------------------------------------------------------*/
  #sponsors {
    @include clearfix();
    background-color: white;
    color: $blue;
  	text-align: center;
    > section {
  		padding-top: 6em;
    	padding-bottom: 2em;
      @include grid-column(12);

    	@include grid-media($large) {
    		padding-top: 12.5em;
        padding-bottom: 7em;
    	}
    	
    	h2 {
      	margin-bottom: 2em;
    	}
    	
    	p {
    		margin-bottom: 2em;
    	}
    
    	ul {
    		align-items: center;
    		display: flex;
    		flex-flow: row wrap;
    		justify-content: center;
    		margin: 0 auto;
    		list-style: none;
    		@include grid-media($large) {
    			max-width: 66%;
    			margin-bottom: 3em;
    		}
    		
    		li {
    			margin-bottom: 3em;
  				flex-basis: 50%;
          padding: .5em .5em;

  				@include grid-media($medium) {
            padding: .5em 1em;
  				}

  				@include grid-media($large) {
            padding: .5em 1.5em;
  				}
    		}
    
    
    		&#partner_logos {	
     			max-width: 90%;

  				@include grid-media($medium) {
            max-width: 75%;
  				}
  				@include grid-media($large) {
            max-width: 60%;
  				}

    			li {
    				flex-basis: 100%;
    				@include grid-media($medium) {
    					flex-basis: 50%;
    				}
    			}
    		}
    		&#sponsor_logos {		
      		@include grid-media($large) {
      			max-width: 70%;
      		}

    			li {
    				flex-basis: 50%;
    				@include grid-media($medium) {
    					flex-basis: 33%;
    				}
    			}
    		}
    	}
    }

  	img {
  		display: block;
  		height: auto;
  		width: 100%
  	}
  }
  
  /*--------------------------------------------------------------
  # Video
  --------------------------------------------------------------*/
  #video {
    @include grid-column(12,$nogutter);
  	@include aspect-ratio(16,9);
    position: relative;
  
  	iframe {
  		@extend .ratio-content;
  		width: 100%;
  		height: 100%;
  	}
  
    .videoPoster {
      background-image: url('../img/bg_video.jpg');
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      cursor: pointer;
      border: 0;
      outline: none;
      background-size: cover;
      text-indent: -999em;
      overflow: hidden;
      opacity: 1;
      transition: opacity 800ms, height 0s;
      transition-delay: 0s, 0s;

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 80px;
        height: 80px;
        margin: -40px 0 0 -40px;
        border: 6px solid $red;
        border-radius: 100%;
        transition: border-color 300ms;
      }

      // Play-icon
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 0;
        height: 0;
        margin: -25px 0 0 -15px;
        border-left: 40px solid $red;
        border-top: 25px solid transparent;
        border-bottom: 25px solid transparent;
        transition: border-color 300ms;
      }
      &:hover,
      &:focus {
        &:before {
          border-color: white;
        }
        &:after {
          border-left-color: white;
        }
      }
    }

    &.videoWrapperActive {
      .videoPoster {
        opacity: 0;
        height: 0;
        transition-delay: 0s, 800ms;
      }
      .videoClose {
        display: block;
      }
    }
  
    .videoClose {
      color: white;
      display: none;
      position: absolute;
      right: 0;
      top: 0;
      background-color: $red;
      font: 20px/100% arial, sans-serif;
      position: absolute;
      text-decoration: none;
      &:hover,
      &:active,
      &:focus {
        background-color: $blue;
        color: white;
        outline: none;
      }
      &:after {
        content: '✖';
      }
    }
  }
}