<footer class="footer container-fluid">

    <div class="row justify-content-center">
        <div class="col-sm-4">
            <h2 id="">Social media</h2>
            <p>
                <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/company/joy-of-coding">
                    <img src="./img/social/linkedin-logo-link.png" alt="LinkedIn Logo" height="26px" width="26px">
                    LinkedIn - @JoyOfCoding
                </a>
            </p>

            <p>
                <a target="_blank" rel="noopener noreferrer" href="https://mastodon.nl/@joyofcoding">
                    <img src="./img/social/mastodon-logo-link.png" alt="Mastodon Logo" height="26px" width="26px">
                    Mastodon - @JoyOfCoding
                </a>
            </p>

            <p>
                <a target="_blank" rel="noopener noreferrer" href="https://bsky.app/profile/joyofcoding.bsky.social">
                    <img src="./img/social/bluesky-logo-link.png" alt="Bluesky Logo" height="26px" width="26px">
                    Bluesky - @JoyOfCoding
                </a>
            </p>

            <p>
                <a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/@JoyOfCodingConferences">
                    <img src="./img/social/youtube-logo-link.png" alt="Youtube Logo" height="26px" width="26px">
                    Youtube - @JoyOfCoding
                </a>
            </p>
        </div>
        <div class="col-sm-4">

            <h2 id="newsletter">Newsletter</h2>

            <p class="fa fa-envelope">
                Sign up for our low-traffic newsletter <a class="ab-link"
                                                          href="https://joyofcoding.us6.list-manage.com/subscribe?u=3c1a490ebd&id=a52a450c87">HERE</a>.
                This implies roughly one e-mail per month in the half-year before the conference.
                Previous newsletters can be found in our archive <a class="ab-link"
                                                                    href="https://us6.campaign-archive.com/home/?u=3c1a490ebd&id=a52a450c87">HERE</a>.
            </p>
        </div>

        <div class="col-sm-4">
            <h2 id="email">E-mail</h2>
            <p>
                <i class="fa fa-envelope"></i>
                <a class="ab-link" target="_blank" rel="noopener noreferrer" href="mailto:info@joyofcoding.org">
                    <img src="./img/envelope-symbol.png" alt="Envelope" height="26px" width="26px">
                    info@joyofcoding.org
                </a>
            </p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-5">Copyright ©2025 Stichting Devnology</div>
    </div>
</footer>

