<head>
  <meta charset="utf-8">
  <title>Joy of Coding 2023 - June 23rd</title>
  <meta name="description"
    content="A one-day conference that celebrates the art, craft, science but foremost the joy of software development">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="icon" type="image/png" href="./img/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="./img/favicon-16x16.png" sizes="16x16">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans|Space+Mono|Teko:300,400&display=swap">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/custom.css">

  <!-- Twitter cards -->
  <meta name="twitter:site" content="@joyofcoding">
  <meta name="twitter:creator" content="@joyofcoding">
  <meta name="twitter:title" content="Joy of Coding 2023, June 23rd">

  <meta name="twitter:description"
    content="A one-day conference that celebrates the art, craft, science but foremost the joy of software development">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="https://joyofcoding.org/img/logo-both.png">

  <!-- <meta name="twitter:card"  content="summary"> -->
  <!-- <meta name="twitter:image" content="https://joyofcoding.org/img/logo.png"> -->

  <!-- end of Twitter cards -->

</head>

