  <div class="erasmus">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="top-space"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
          <img src="./img/logo-cyaan.png" alt="Joy of Coding Logo">
        </div>
        <div class="col-md-4">
          <div class="main-title">Joy of Coding 2025</div>
        </div>
        <div class="col-md-2"></div>
      </div>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="subtitle center">
            <span>Celebrating the art, craft, science and joy of software development</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-5">
          <div class="dayof rounded">
            <span class="">Save the Date:</span>
            <span class="">June 27, 2025</span>
          </div>
        </div>
        <div class="col-md-3">
          <div class="dayof-ticket rounded">
            <span class=""><a href="https://joyofcoding.stager.co/shop/2025" target="_blank" class="text-light">Tickets</a></span>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </div>

