<div class="main-background">
  <nav class="container">
    <div class="row navigation justify-content-center">
      <ul class="nav navbar-nav">
        <li class="dropdown"><div><a href="./index.html">Home</a></div></li>
         <li class="dropdown"><div><a href="./schedule.html">Schedule</a></div></li>
        <li class="dropdown"><div><a href="./sponsoring.html">Sponsoring</a></div></li>
        <li class="dropdown"><div><a href="./practical.html">Practical</a></div></li>
        <li class="dropdown"><div><a href="./venue.html">Venue</a></div></li>
        <li class="dropdown"><div><a href="./contact.html">Contact</a></div></li>
        <li class="dropdown"><div class="dropbtn">Signup &#xb7;</div>
          <ul class="dropdown-content-b">
            <li><a href=https://joyofcoding.us6.list-manage.com/subscribe?u=3c1a490ebd&id=a52a450c87>Newsletter</a></li>
            <li><a href=https://www.meetup.com/010dev/events/300068272>Pre-party</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</div>

