<div class="navigation-background">
  <nav class="container">
    <div class="row navigation justify-content-center">
      <ul class="nav navbar-nav">
        <li class="dropdown"><div><a href="./index.html">Home</a></div></li>
        <li class="dropdown"><div><a href="./speakers.html">Speakers</a></div></li>
        <!--  li class="dropdown"><div><a href="./photos.html">Photos</a></div></li> -->
        <li class="dropdown"><div><a href="./schedule.html">Schedule</a></div></li>
        <!-- li class="dropdown"><div><a href="./sponsoring.html">Sponsoring</a></div></li-->
        <li class="dropdown"><div><a href="./practical.html">Practical</a></div></li>
        <li class="dropdown"><div><a href="./about.html">About</a></div></li>
        <li class="dropdown"><div><a href="">Signup &#xb7;</a></div>
          <ul class="dropdown-content-b">
            <li><a href=https://joyofcoding.us6.list-manage.com/subscribe?u=3c1a490ebd&id=a52a450c87>Newsletter</a></li>
          </ul>
        </li>
        <li class="dropdown">
            <div><a href="https://joyofcoding.stager.co/shop/2025/events/111479959" target="_blank">Tickets</a></div>
        </li>
      </ul>
    </div>
  </nav>
</div>

