<div class="small-erasmus">
    <div class="container small-title-row">
        <div class="row align-items-center">
            <div class="col-md-3 col-sm-3"></div>
            <div class="col-md-3 col-sm-2 d-flex">
                <img src="./img/logo-cyaan.png" alt="Joy of Coding Logo">
            </div>
            <div class="col-md-2 col-sm-3 align-middle">
                <div class="right-title">Joy of Coding</div>
            </div>
            <div class="col-md-4">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 small-dayof-title d-flex justify-content-around">
                <div>June 27, 2025 - De Doelen, Rotterdam</div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>

