  <div class="erasmus">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="top-space"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
          <img src="./img/logo.png" alt="Joy of Coding Logo">
        </div>
        <div class="col-md-4">
          <img src="./img/logo-text.png" alt="Joy of Coding">
        </div>
        <div class="col-md-2"></div>
      </div>
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <div class="subtitle center">
            <span>Celebrating the art, craft, science and joy of software development</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
          <div class="dayof rounded">
            <span class="">Coming back in 2024</span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="dayof rounded">
            <!-- <span class=""><a href="https://joyofcoding.stager.nl/web/tickets/111247858" target="_blank" -->
                <!-- class="text-light">Get your tickets!</a></span> -->
                <span class="">Date coming soon</span>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </div>

