    <div class="small-erasmus">
    <div class="container small-title-row">
      <div class="row">
        <div class="col-md-4 col-sm-3"></div>
        <div class="col-md-2 col-sm-3">
          <img src="./img/logo-orange.png" alt="Joy of Coding Logo">
        </div>
        <div class="col-md-2 col-sm-3">
          <div class="right-title">Joy of Coding</div>
        </div>
        <div class="col-md-4 col-sm-3"></div>
      </div>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 small-dayof-title">
          <div>
            <span>June 21, 2024 - De Doelen, Rotterdam</span>
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </div>

