<div class="container">
    <div class="row title rounded">
        <div class="col-md-12">
            <h1 class="rounded">Schedule_</h1>
        </div>
    </div>
    <div class="row content">
        <div class="col-sm-12 schedule">
            <div class="row odder rounded">
                <div class="col-sm-2">8:30</div>
                <div class="col-sm-4">Registration</div>
                <div class="col-sm-6"></div>
            </div>
            <div class="row">
                <div class="col-sm-2">9:20</div>
                <div class="col-sm-4">Opening</div>
                <div class="col-sm-6"></div>
            </div>
            <div class="row">
                <div class="col-sm-2">9:30</div>
                <div class="col-sm-4"><a href="hannes_muhleisen.html">Hannes Mühleisen</a></div>
                <div class="col-sm-6"><a href="hannes_muhleisen.html">Why databases are worthy of your affection</a></div>
            </div>
            <div class="row">
                <div class="col-sm-2">10:10</div>
                <div class="col-sm-4"><a href="daniel_stenberg.html">Daniel Stenberg</a></div>
                <div class="col-sm-6"><a href="daniel_stenberg.html">Accidental world domination for fun</a></div>
            </div>
            <div class="row">
                <div class="col-sm-2">10:40</div>
                <div class="col-sm-4">Coffee</div>
                <div class="col-sm-6"></div>
            </div>
            <div class="row">
                <div class="col-sm-2">11:20</div>
                <div class="col-sm-4"><a href="sara_vieira.html">Sara Vieira</a></div>
                <div class="col-sm-6"><a href="sara_vieira.html">Your brain doesn't have a fix flag</a></div>
            </div>
            <div class="row ">
                <div class="col-sm-2">12:00</div>
                <div class="col-sm-4"><a href="demoscene.html">Dave Borghuis</a></div>
                <div class="col-sm-6"><a href="demoscene.html">The Demoscene</a></div>
            </div>
            <div class="row odder rounded">
                <div class="col-sm-2">12:30</div>
                <div class="col-sm-4">Lunch</div>
                <div class="col-sm-6"></div>
            </div>
            <div class="row ">
                <div class="col-sm-2">13:30</div>
                <div class="col-sm-4"><a href="lightning_talks.html">Lightning Talks</a></div>
                <div class="col-sm-6"></div>
            </div>
            <div class="row">
                <div class="col-sm-2">14:30</div>
                <div class="col-sm-4"><a href="alexander.html">Alexander Chatzizacharias</a></div>
                <div class="col-sm-6"><a href="alexander.html">Let’s use IntelliJ as a game engine, just because we can</a></div>
            </div>
            <div class="row">
                <div class="col-sm-2">15:00</div>
                <div class="col-sm-4">Coffee</div>
                <div class="col-sm-6"></div>
            </div>
            <div class="row">
                <div class="col-sm-2">15:30</div>
                <div class="col-sm-4"><a href="paco_van_beckhoven.html">Paco van Beckhoven</a></div>
                <div class="col-sm-6"><a href="paco_van_beckhoven.html">Cracking the Code Review</a></div>
            </div>
            <div class="row">
                <div class="col-sm-2">16:10</div>
                <div class="col-sm-4"><a href="shirley_tarboton.html">Shirley Tarboton</a></div>
                <div class="col-sm-6"><a href="shirley_tarboton.html">Decarbonizing code</a></div>
            </div>
            <div class="row">
                <div class="col-sm-2">16:50</div>
                <div class="col-sm-4"><a href="bert_hubert.html">Bert Hubert</a></div>
                <div class="col-sm-6"><a href="bert_hubert.html">Save the world, write more efficient code</a></div>
            </div>
            <div class="row">
                <div class="col-sm-2">17:45</div>
                <div class="col-sm-4">Drinks</div>
                <div class="col-sm-6"></div>
            </div>
            <div class="row odder rounded">
                <div class="col-sm-2">18:45</div>
                <div class="col-sm-4">Doors close</div>
                <div class="col-sm-6"></div>
            </div>
        </div>
    </div>
</div>
