<div class="row speakers">
    <div class="col-sm-1"></div>
    <div class="col-sm-11">
        <p class="center">
            We will announce a new speaker every couple of weeks. So stay tuned!<br>
            Join us? Call for Papers is open for lighting talks:
            <a class="ab-link" target="_blank" href="https://forms.gle/Ecpvbui1TVSArwY29">register here</a>
        </p>
    </div>

    <!--    <div class="col-sm-1 "></div>-->
    <div class="row justify-content-center">
        <div class="col-sm-5 speaker rounded">
            <div class="row justify-content-center">
                <img src="./img/speaker/alex-chatzizacharias.jpg" class="speaker-photo center-block rounded-circle"
                     alt="Bert Hubert"/>
            </div>
            <h1 class="speaker-name">Alexander Chatzizacharias</h1>
            <div class="twitter"></div>
            <div>
          <span>
              Alexander, a 34-year-old Software Engineer at JDriven, holds dual Dutch and Greek nationality. He earned
              his master's degree in Game Studies from the University of Amsterdam, where he discovered his passion for
              gamification and software engineering. Alexander aims to bridge the gap between game development and
              software engineering, believing that both industries have much to learn from each other. He is dedicated
              to integrating technologies and methodologies from both fields. Additionally, he enjoys experimenting with
              new technologies and cutting-edge SDK's.
          </span>
            </div>
        </div>

        <div class="col-sm-5 speaker rounded">
            <div class="row justify-content-center">
                <img src="./img/speaker/bert-hubert.jpg" class="speaker-photo center-block rounded-circle"
                     alt="Bert Hubert"/>
            </div>
            <h1 class="speaker-name">Bert Hubert</h1>
            <div class="twitter"></div>
            <div>
          <span>
              Bert Hubert is an inspiring speaker known for his passion for technology, engaging storytelling, and deep
              technical expertise. As the founder of PowerDNS and an advocate for open-source innovation, Bert combines
              humor, real-world insights, and fascinating topics — like the intersection of computing and biology — to
              inspire and ignite curiosity in his audience. His relatable, down-to-earth style makes him the perfect
              speaker to celebrate the creativity and Joy of Coding.
          </span>
            </div>
        </div>
    </div>
    <!--    <div class="col-sm-1 "></div>-->
    <!--    <div class="col-sm-1 "></div>-->
    <div class="row justify-content-center">
        <div class="col-sm-5 speaker rounded">
            <div class="row justify-content-center">
                <img src="./img/speaker/shirley-tarboton.jpg" class="speaker-photo center-block rounded-circle"
                     alt="Shirley Tarboton"/>
            </div>
            <h1 class="speaker-name">Shirley Tarboton</h1>
            <div class="twitter"></div>
            <div>
          <span>
              Shirley Tarboton is an insightful speaker who brings a fresh perspective to the intersection of software
              development and sustainability. With her technical expertise and insights, she empowers audiences to think
              differently about how they write and optimize code, offering insights to make software more
              energy-efficient. Shirley's passion for creating a greener future through technology makes her a perfect
              fit for Joy of Coding, inspiring developers to embrace their role in building a sustainable digital world.
          </span>
            </div>
        </div>
    </div>
</div>
