<div class="row speakers">
    <div class="col-sm-1"></div>
    <div class="col-sm-11">
        <p class="center">
            We will announce a new speaker every couple of weeks. So stay tuned!
        </p>
    </div>
    <div class="col-sm-1 "></div>
    <div class="col-sm-5 speaker rounded">
        <img src="./img/speaker/bert-hubert.jpg" class="speaker-photo center-block rounded-circle" alt="Kevlin Henney"/>
        <h1 class="speaker-name">Bert Hubert</h1>
        <div class="twitter"></div>
        <div>
          <span>
              Hi! I'm Bert Hubert, and I am an entrepreneur & software developer. I sometimes contribute to science,
              I care a lot about Europe 🇪🇺, innovation, climate, biology & health. I'm a former shareholder of
              Open-Xchange, the parent company of PowerDNS which I founded in 1999. In 2020, I joined a government
              oversight board, which I have since left. These days I am a part-time technical advisor at the Dutch
              Electoral Council. Furthermore, I write articles, some of which have been published by places like the
              IETF, IEEE, RIPE, APNIC, the Swedish Electronics Standardisation Institute, but also by
              newspapers/magazines like Nature Scientific Data, De Volkskrant, Nederlands Dagblad, Villamedia,
              De Ingenieur, Knack and others.
          </span>
        </div>
    </div>
    <div class="col-sm-5 speaker rounded">
        <img src="./img/speaker/daniel-stenberg.jpg" class="speaker-photo center-block rounded-circle" alt="Michael Pound"/>
        <h1 class="speaker-name">Daniel Stenberg</h1>
        <div class="twitter"></div>
        <div>
          <span>
              Daniel Stenberg is the founder and lead developer of the curl project. He is a Swedish Open Source
              software developer, actively participating in several networking related projects. He has been involved
              in Open Source for thirty years, been involved in the IETF and protocol standards for fifteen years. He
              was awarded the Polhem Prize in 2017. Employed by wolfSSL, works on curl full time.
          </span>
        </div>
    </div>
</div>
