<div class="row speakers">
    <div class="col-sm-1 "></div>
    <div class="col-sm-5 speaker rounded">
        <img src="./img/speaker/Kevlin Henney.jpeg" class="speaker-photo center-block rounded-circle" alt="Kevlin Henney"/>
        <h1 class="speaker-name">Kevlin Henney</h1>
        <div class="twitter"><img src="./img/social/mastodon-logo-link.png" alt="Mastodon Logo" height="26px" width="26px">
            <a class="ab-link" href="https://mastodon.social/@kevlin" target="_blank">@kevlin@mastodon.social</a>
        </div>
        <div>
              <span>
                  Kevlin is an independent consultant, trainer, speaker and writer.
                  He helps individuals and teams improve their skills, codebases and cultures, ensuring people have a place in their architecture.
                  He is co-author of two volumes in the Pattern-Oriented Software Architecture series,
                  editor of 97 Things Every Programmer Should Know and co-editor of 97 Things Every Java Programmer Should Know.
                  He lives in Bristol and online.
              </span>
        </div>
    </div>
    <div class="col-sm-5 speaker rounded">
        <img src="./img/speaker/Michael Pound.jpeg" class="speaker-photo center-block rounded-circle" alt="Michael Pound"/>
        <h1 class="speaker-name">Michael Pound</h1>
        <div class="twitter"></div>
        <div>
              <span>
                  Michael Pound is an Associate Professor of Computer Science at the University of Nottingham, UK.
                  His research focuses on the development and application of computer vision approaches, often to biological images.
                  He has been involved in interdisciplinary research across a variety of domains, ranging from plant and medical imaging, through to engineering and physics.
                  Outside of research, he is passionate about education in computer science.
                  He is a regular contributor to the YouTube channel Computerphile, where his videos on subjects including AI and machine learning have accumulated over 55 million views.
              </span>
        </div>
    </div>
</div>
<div class="row speakers">
    <div class="col-sm-1 "></div>
    <div class="col-sm-5 speaker rounded">
        <img src="./img/speaker/Sara Vieira.jpeg" class="speaker-photo center-block rounded-circle" alt="Sara Vieira"/>
        <h1 class="speaker-name">Sara Vieira</h1>
        <div class="twitter"></div>
        <div>
              <span>
                  Sara is a founding engineer at axo.dev, loves to make things, play old video games and is just an all around nerd.
              </span>
        </div>
    </div>
    <div class="col-sm-5 speaker rounded">
        <img src="./img/speaker/Yulia Startsev.jpeg" class="speaker-photo center-block rounded-circle" alt="Yulia Startsev"/>
        <h1 class="speaker-name">Yulia Startsev</h1>
        <div class="twitter"></div>
        <div>
              <span>
                  Yulia Startsev is the JavaScript language lead for the SpiderMonkey compiler at Mozilla.
                  She served as a chair and is currently a facilitator for Ecma's TC39, the committee responsible for design and development of the JavaScript language.
                  She initiated and runs the TC39 research group, which applies HCI research techniques to JavaScript language features.
                  Her interests include programmer psychology, and she hopes that this talk will be interesting as a reflection on how we think and solve problems.
              </span>
        </div>
    </div>
</div>
