<div class="row">

    <div class="col-md-6 title">
        <h1 class="rounded">Our partner_</h1>
        <br /><br /><br/><br/>
        <a class="image-container-large" href="https://www.finalist.nl/"><img src="./img/logo/finalist.svg" alt="Finalist"></a>
    </div>

    <div class="col-md-6 title">
        <h1 class="rounded">Our sponsors_</h1>
        <br /><br />
        <a class="image-container" href="https://jdriven.com/"><img src="./img/logo/jdriven.png" alt="JDriven"></a>
        <a class="image-container" href="https://www.qsd.nl//"><img src="./img/logo/qsd.png" alt="QSD"></a>
        <a class="image-container" href="https://www.prepend.nl//"><img src="./img/logo/prepend.svg" alt="Prepend"></a>
        <a class="image-container" href="https://lunatech.com/"><img src="./img/logo/lunatech.png" alt="Lunatech"></a>
        <a class="image-container" href="https://stager.co/en/"><img src="./img/logo/stager.png" alt="Stager"></a>
        <a class="image-container-reduced" href="https://www.q42.nl/"><img src="./img/logo/q42.svg" alt="Q42"></a>
        <a class="image-container-reduced" href="https://ncim.nl/"><img src="./img/logo/ncim.png" alt="NCIM"></a>
        <a class="image-container" href="https://www.transtrend.com/en/"><img src="./img/logo/transtrend.png" alt="Transtrend"></a>
        <a class="image-container" href="https://www.openvalue.eu"><img src="./img/logo/openvalue.png" alt="OpenValue"></a>
        <br />
    </div>
</div>
