<div class="row title">

    <div class="col-md-6">
        <h1 class="rounded">Our partner_</h1>
        <br /><br />
        <a class="image-container-medium" href="https://www.42.nl/"><img src="./img/logo/42.svg" alt="42 B.V."></a>
    </div>

    <div class="col-md-6">
        <h1 class="rounded">Our sponsors_</h1>
        <br /><br />
        <a class="image-container" href="https://floorplanner.com/"><img src="./img/logo/floorplanner.png" alt="Floorplanner"></a>
        <a class="image-container" href="https://jdriven.com/"><img src="./img/logo/jdriven.png" alt="JDriven"></a>
        <a class="image-container" href="https://lunatech.com/"><img src="./img/logo/lunatech.png" alt="Lunatech"></a>
        <a class="image-container" href="https://nedap.com/"><img src="./img/logo/nedap.svg" alt="Nedap"></a>
        <a class="image-container" href="https://ncim-groep.nl/"><img src="./img/logo/ncim.png" alt="NCIM"></a>
        <a class="image-container-reduced" href="https://www.q42.nl/"><img src="./img/logo/q42.svg" alt="Q42"></a>
        <a class="image-container" href="https://stager.co/en/"><img src="./img/logo/stager.png" alt="Stager"></a>
        <a class="image-container" href="https://www.transtrend.com/en/"><img src="./img/logo/transtrend.png" alt="Transtrend"></a>
        <br />
    </div>

    <div class="col-md-12">
        <i class="redirect">Will you be <a href="sponsoring.html">sponsoring</a> Joy of Coding?</i>
    </div>
</div>
