      <div class="row team">
        <div class="col-sm-12 member rounded-top">
          <img src="./img/team/anne.jpg" class="organizer-photo center-block rounded-circle"
                                           alt="Anne van den Berg" />
          <h2>Anne van den Berg</h2>
          <div>
            <span>Anne is a software engineer at the <a class="ab-link" href="https://www.transplantatiestichting.nl" target="_blank">NTS</a> where she is striving for 
            maintainable, high quality applications for transplantation professionals. 
            Besides being passionate about coding, she is also very into sports.
            </span>
          </div>
        </div>
      </div>
      <div class="row team">
        <div class="col-sm-12 member rounded-top">
          <img src="./img/team/arthur.jpg" class="organizer-photo center-block rounded-circle"
                                           alt="Arthur van Leeuwen" />
          <h2>Arthur van Leeuwen</h2>
          <div class="twitter"><a class="ab-link" href="https://twitter.com/earthy_" target="_blank">@earthy_</a></div>
          <div>
            <span>Arthur fell in love with computers and code as a kid and has been privileged enough to turn that
              love into a career. Bounced around in academia as a programmer and assistant professor for a while, and
              now works at <a class="ab-link" href="https://www.nedapsecurity.com/" target="_blank">Nedap Security</a>, where he gets to code, architect and teach.</span>
          </div>
        </div>
      </div>
      <div class="row team">
        <div class="col-sm-12 member rounded-top">
           <img src="./img/team/elvira.jpg" class="organizer-photo center-block rounded-circle" alt="Elvira van der Ven"/>
           <h2>Elvira van der Ven</h2>
           <div>
             <span>is a programming lecturer at the Rotterdam University of Applied Sciences and a student counselor for the Computer Science program.
                   As a lecturer she educates young people to use Java wisely, while, as a student counselor, she supports students who encounter difficulties during their educational journey. 
             </span>
           </div>
        </div>
      </div>
      <div class="row team">
        <div class="col-sm-12 member rounded-top">
           <img src="./img/team/erik-h.jpg" class="organizer-photo center-block rounded-circle" alt="Erik Hooijmeijer"/>
           <h2>Erik Hooijmeijer</h2>
           <div class="twitter"><a class="ab-link" href="https://twitter.com/ctrlaltdev">@CtrlAltDev</a></div>
           <div>
             <span>is principal developer at <a class="ab-link" href="https://42.nl">42 B.V.</a> Loves coding for fun and profit, collector of 8 bit commodore computers, former organizer of Masters of Java.
           Fell in love with Joy of Coding at the first edition, organized a workshop at the second. Had trouble attending subsequent editions and has
           now chosen the smart way to attend, help organizing it!</span>
           </div>
        </div>
      </div>
      <div class="row team">
        <div class="col-sm-12 member rounded-top">
          <img src="./img/team/erik.jpg" class="organizer-photo center-block rounded-circle" alt="Erik Pronk" />
          <h2>Erik Pronk</h2>
          <div class="twitter"><a class="ab-link" href="https://twitter.com/erikjpronk" target="_blank">@ErikJPronk</a></div>
          <div>
            <span>Erik is a passionate software engineer that has been working in IT since 2001. During this period he
              has gained a lot of experience in a variety of technologies, roles, development environments and market
              segments.
              His main focus is on implementing enterprise solutions in an agile way. In his spare time, Erik loves to
              run and experiment with VR and domotics. Erik works at <a class="ab-link" href="https://jdriven.com/" target="_blank">JDriven</a>
              where he shares his passion and drive with other colleagues.</span>
          </div>
        </div>
      </div>
      <div class="row team">
        <div class="col-sm-12 member rounded-top">
          <img src="./img/team/ivo.jpeg" class="organizer-photo center-block rounded-circle" alt="Ivo Limmen" />
          <h2>Ivo Limmen</h2>
	  <div class="twitter"><a class="ab-link" href="https://toot.community/@ivolimmen" target="_blank">@ivolimmen</a></div>
          <div>
            <span>Ivo is a Principal Consultant at  <a class="ab-link" href="https://www.qsd.nl/" target="_blank">QSD B.V.</a>
              and a Software Engineer for all applications both online and offline.
              He is never afraid to learn new things, autodidact and his best friend is DuckDuckGo.</span>
          </div>
        </div>
      </div>
      <div class="row team">
        <div class="col-sm-12 member rounded-top">
          <img src="./img/team/rob.jpeg" class="organizer-photo center-block rounded-circle" alt="Rob Brinkman" />
          <h2>Rob Brinkman</h2>
          <div class="twitter"><a class="ab-link" href="https://twitter.com/R088" target="_blank">@R088</a></div>
          <div>
            <span>
              Rob Brinkman is Chief Technology Officer (CTO) of <a class="ab-link" href="https://www.conflux.nl/en/" target="_blank">Conflux</a>.
              Rob can be described as a result driven, analytical and communicative strong professional whose interest and knowledge focus on
              enterprise application development, mobile development, open-source solutions, software architecture and technical project management.
            </span>
          </div>
        </div>
      </div>

