      <div class="row team">
        <div class="col-sm-12 member rounded-top">
          <img src="./img/team/alex.jpg" class="organizer-photo center-block rounded-circle" alt="Alex Kuiper" />
          <h2>Alex Kuiper</h2>
          <div class="twitter"><a class="ab-link" href="https://twitter.com/nightwhistler" target="_blank">@NightWhistler</a></div>
          <div>
            <span>Alex is an independent software consultant, a VIM nerd, Whovian, runner and model aviation fan. He
              heard about this obscure new conference called ‘Joy of Coding’, decided to visit and loved it so much he
              kept coming back and ended up joining the team.</span>
          </div>
        </div>
      </div>
      <div class="row team">
        <div class="col-sm-12 member rounded-top">
          <img src="./img/team/arthur.jpg" class="organizer-photo center-block rounded-circle"
                                           alt="Arthur van Leeuwen" />
          <h2>Arthur van Leeuwen</h2>
          <div class="twitter"><a class="ab-link" href="https://twitter.com/earthy_" target="_blank">@earthy_</a></div>
          <div>
            <span>Arthur fell in love with computers and code as a kid and has been privileged enough to turn that
              love into a career. Bounced around in academia as a programmer and assistant professor for a while, and
              now works at <a class="ab-link" href="https://www.nedapsecurity.com/" target="_blank">Nedap Security</a>, where he gets to code, architect and teach.</span>
          </div>
        </div>
      </div>
      <div class="row team">
        <div class="col-sm-12 member rounded-top">
          <img src="./img/team/eline.jpg" class="organizer-photo center-block rounded-circle" alt="Eline Brader" />
          <h2>Eline Brader, MSc.</h2>
          <div>
            <span>Eline got a bachelor and master’s degree in food technology. With noob level knowledge on
              programming languages after graduation, Eline was able to fulfil her desire to program on a fulltime
              basis thanks to Nedap University. Since May 2022, she is a fulltime backend software developer in team
              OpenEHR at <a class="ab-link" href="https://nedap-healthcare.com/" target="_blank">Nedap Healthcare</a>. Her long-term dream would be to become a full stack developer. People would
              call her crazy for working every day of the week but her response would be: “My job is my hobby and my
              hobby is my job”.</span>
          </div>
        </div>
      </div>
      <div class="row team">
        <div class="col-sm-12 member rounded-top">
          <img src="./img/team/erik.jpg" class="organizer-photo center-block rounded-circle" alt="Erik Pronk" />
          <h2>Erik Pronk</h2>
          <div class="twitter"><a class="ab-link" href="https://twitter.com/erikjpronk" target="_blank">@ErikJPronk</a></div>
          <div>
            <span>Erik is a passionate software engineer that has been working in IT since 2001. During this period he
              has gained a lot of experience in a variety of technologies, roles, development environments and market
              segments.
              His main focus is on implementing enterprise solutions in an agile way. In his spare time, Erik loves to
              run and experiment with VR and domotics. Erik works at <a class="ab-link" href="https://jdriven.com/" target="_blank">JDriven</a>
              where he shares his passion and drive with other colleagues.</span>
          </div>
        </div>
      </div>
      <div class="row team">
        <div class="col-sm-12 member rounded-top">
          <img src="./img/team/ivo.jpeg" class="organizer-photo center-block rounded-circle" alt="Ivo Limmen" />
          <h2>Ivo Limmen</h2>
	  <div class="twitter"><a class="ab-link" href="https://toot.community/@ivolimmen" target="_blank">@ivolimmen</a></div>
          <div>
            <span>Ivo is a Principal Consultant at  <a class="ab-link" href="https://www.qsd.nl/" target="_blank">QSD B.V.</a>
              and a Software Engineer for all applications both online and offline.
              He is never afraid to learn new things, autodidact and his best friend is DuckDuckGo.</span>
          </div>
        </div>
      </div>
      <div class="row team">
        <div class="col-sm-12 member rounded-top">
          <img src="./img/team/rob.jpeg" class="organizer-photo center-block rounded-circle" alt="Rob Brinkman" />
          <h2>Rob Brinkman</h2>
          <div class="twitter"><a class="ab-link" href="https://twitter.com/R088" target="_blank">@R088</a></div>
          <div>
            <span>
              Rob Brinkman is Chief Technology Officer (CTO) of <a class="ab-link" href="https://www.conflux.nl/en/" target="_blank">Conflux</a>.
              Rob can be described as a result driven, analytical and communicative strong professional whose interest and knowledge focus on
              enterprise application development, mobile development, open-source solutions, software architecture and technical project management.
            </span>
          </div>
        </div>
      </div>

