{{ partial "header.html" . }}


    <div id="container" class="page_home">
      <div id="scroller">

        <main>
          <article>
            <div class="entry-content">
              <h2>Celebrating 5 years of the art, craft, science and joy of software development</h2>
              <p>Joy of coding is all about the love for programming. Learn about new and emerging technologies from companies and academia. Get inspired by renowned international speakers.</p>
              <p><strong>Friday 30 June 2017 @ De Rotterdamse Schouwburg</strong></p>
              <div class="btn_wrap">
                <a href="http://inventid.to/joyofcoding" target="_blank" class="btn">Regular tickets <span>only €192</span></a>
              </div>
            </div>
          </article>

          <section id="lineup">
            <div class="wrap">
              <div class="lineup_container">
                <article>
                  <div class="spkr">
                    <div class="spkr_wrap">
                      <img src="/img/spkr_carin_meier.png" alt="Carin Meier" data-stellar-ratio="1.1">
                      <a href="/speaker/carin-meier/">
                        <h3 data-stellar-ratio="1.25">Carin Meier</h3>
                      </a>
                      <blockquote data-stellar-ratio="1.25">“It's still magic even if you know how it's done.” &mdash; Terry Pratchett</blockquote>
                      <div class="spkr_meta">
                        <strong>Keynote</strong> <span class="times"><time datetime="2017-06-30 15:50">15:50</time> - <time datetime="2017-06-30 16:30">16:30</time></span>
                      </div>
                      <div class="spkr_content" data-stellar-ratio="1.3">
                        <p>Carin started off as a professional ballet dancer, studied Physics in college, and has been developing software for both the enterprise and entrepreneur ever since. She has a thing for Clojure and can be usually found with a cup of tea in her hand, hacking on her Roomba, AR Drone, or any other robots that happen to be nearby. She hails from Cincinnati, where she works remotely as a developer for Cognitect, and also helps organize the Cincinnati Functional Programmers user group.</p>
                      </div>
                      <div class="spkr_social"><a href="https://twitter.com/gigasquid" target="_blank">@gigasquid</a></div>
                    </div>
                  </div>
                </article>

                <article>
                  <div class="spkr">
                    <div class="spkr_wrap">
                      <img src="img/spkr_ted_neward.jpg" alt="Ted Neward" data-stellar-ratio="1.1">
                      <a href="/speaker/ted-neward/">
                        <h3 data-stellar-ratio="1.25">Ted Neward</h3>
                      </a>
                      <blockquote data-stellar-ratio="1.25">No, no PC viruses. Mac viruses, maybe, and iOS malware, certainly, but no PC viruses.</blockquote>
                      <div class="spkr_meta">
                        <strong>Workshop & presentations</strong> <span class="times"><time datetime="2017-06-30 09:30">09:30</time> - <time datetime="2017-06-30 10:10">10:10</time></span>
                      </div>
                      <div class="spkr_content" data-stellar-ratio="1.3">
                        <p>Ted Neward is the CTO of iTrellis, a polyglot consultancy, and is an industry professional of twenty yearsí experience.  He currently resides in the Pacific Northwest with his wife, two sons, dog, four cats, eight laptops, seven tablets, nine phones, and a rather large utility bill.</p>
                      </div>
                      <div class="spkr_social"><a href="https://twitter.com/tedneward" target="_blank">@tedneward</a></div>
                    </div>
                  </div>
                </article>

                <article>
                  <div class="spkr">
                    <div class="spkr_wrap">
                      <img src="img/spkr_neal_ford.png" alt="Neal Ford" data-stellar-ratio="1.1">
                      <a href="/speaker/neal-ford/">
                        <h3 data-stellar-ratio="1.25">Neal Ford</h3>
                      </a>
                      <blockquote data-stellar-ratio="1.25">Developers are drawn to complexity like moths to a flame, often with the same outcome. (from The Productive Programmer)</blockquote>
                      <div class="spkr_meta">
                        <strong>Workshop & presentations</strong> <span class="times"><time datetime="2017-06-30 13:10">13:10</time> - <time datetime="2017-06-30 13:50">13:50</time></span>
                      </div>
                      <div class="spkr_content" data-stellar-ratio="1.3">
                        <p>Neal Ford is director, software architect, and meme wrangler at ThoughtWorks, a software company and a community of passionate, purpose-led individuals. He thinks disruptively to deliver technology to address the toughest challenges, all while seeking to revolutionize the IT industry and create positive social change. A speaker at hundreds of developer conferences worldwide, Neal is an internationally recognized expert on software development and delivery, particularly where agile engineering techniques and software architecture intersect.</p>
                      </div>
                      <div class="spkr_social"><a href="https://twitter.com/neal4d" target="_blank">@neal4d</a></div>
                    </div>
                  </div>
                </article>

                <article>
                  <div class="spkr">
                    <div class="spkr_wrap">
                      <img src="img/spkr_jessica_kerr.jpg" alt="Jessica Kerr" data-stellar-ratio="1.1">
                      <a href="/speaker/jessica-kerr/">
                        <h3 data-stellar-ratio="1.25">Jessica Kerr</h3>
                      </a>
                      <blockquote data-stellar-ratio="1.25">Pairing: because programming is more like rally racing than F1. Unpaved, different every time, go faster with driver+navigator.</blockquote>
                      <div class="spkr_meta">
                        <strong>Talk</strong> <span class="times"><time datetime="2017-06-30 10:50">10:50</time> - <time datetime="2017-06-30 11:30">11:30</time></span>
                      </div>
                      <div class="spkr_content" data-stellar-ratio="1.3">
                        <p>Jessica Kerr develops software in Scala, Elm, and far too many other language systems. She's fascinated by sociotechnical systems, meta-automation, and socks. She travels from St. Louis, MO to learn and speak about programming at conferences. Her older daughter wants to be a programmer, while her younger daughter wishes she wouldn't travel so much. Jessica is known for her enthusiasm about almost everything, especially food and Atomist.</p>
                      </div>
                      <div class="spkr_social"><a href="https://twitter.com/jessitron" target="_blank">@jessitron</a></div>
                    </div>
                  </div>
                </article>

                <article>
                  <div class="spkr">
                    <div class="spkr_wrap">
                      <img src="img/spkr_llewellyn_falco.png" alt="Llewellyn Falco" data-stellar-ratio="1.1">
                      <a href="/speaker/llewellyn-falco/">
                        <h3 data-stellar-ratio="1.25">Llewellyn Falco</h3>
                      </a>
                      <blockquote data-stellar-ratio="1.25">Why we did a speed meet at our conference and why you should too!</blockquote>
                      <div class="spkr_meta">
                        <strong>Talk</strong> <span class="times"><time datetime="2017-06-30 13:50">13:50</time> - <time datetime="2017-06-30 14:30">14:30</time></span>
                      </div>
                      <div class="spkr_content" data-stellar-ratio="1.3">
                        <p>Llewellyn Falco is an independent agile coach. He discovered strong-style pair programming. He is creator of the open source testing tool ApprovalTests. He spends most of his time programming in Java and C# specializing in improving legacy code.He is also co-founder of TeachingKidsProgramming.org.</p>
                      </div>
                      <div class="spkr_social"><a href="https://twitter.com/llewellynfalco" target="_blank">@llewellynfalco</a></div>
                    </div>
                  </div>
                </article>

                <article>
                  <div class="spkr">
                    <div class="spkr_wrap">
                      <img src="img/spkr_koshin_mariano.png" alt="Koshin Mariano" data-stellar-ratio="1.1">
                      <a href="/speaker/koshin-mariano/">
                        <h3 data-stellar-ratio="1.25">Koshin Mariano</h3>
                      </a>
                      <blockquote data-stellar-ratio="1.25">“All you get paid to do is just type words on a Computer” &mdash; Aden K. Mariano</blockquote>
                      <div class="spkr_meta">
                        <strong>Talk</strong> <span class="times"><time datetime="2017-06-30 15:10">15:10</time> - <time datetime="2017-06-30 15:50">15:50</time></span>
                      </div>
                      <div class="spkr_content" data-stellar-ratio="1.3">
                        <p>Koshin Mariano is a Product Development Manager at Citrix. He is one of the initial developers and part of the core development team for Octoblu.</p>
                      </div>
                      <div class="spkr_social"><a href="https://twitter.com/Koshin_M" target="_blank">@Koshin_M</a></div>
                    </div>
                  </div>
                </article>

                <article>
                  <div class="callout" data-stellar-ratio="1.1">
                    <div class="callout_wrap">
                      <h4>Why join?<br>
                      <strong>It's fun!</strong></h4>
                      <hr>
                      <div class="callout_content">
                        <p>We're all about the love for programming. Learn about new and emerging technologies from companies and academia. Get inspired by <a href="./schedule">renowned international speakers</a>.</p>
                        <p>Pair with fellow passionate developers in one of the workshops.</p>
                      </div>
                    </div>
                    <img src="img/photo_why_join.jpg" alt="">
                  </div>
                </article>

                <article>
                  <div class="callout" data-stellar-ratio="1.1">
                    <div class="callout_wrap">
                      <h4>It’s by devs,<br>
                      <strong>for devs!</strong></h4>
                      <hr>
                      <div class="callout_content">
                        <p>Joy of Coding is organised by a bunch of developers on a non-profit basis. There is no commercial agenda (no sponsored content), the schedule is purely based on stuff that developers, like us, love to see. Expert speakers but no talking heads. A place where we can all get together and talk about code.</p>
                      </div>
                    </div>
                    <img src="img/photo_developers.jpg" alt="">
                  </div>
                </article>

                <article>
                  <div class="callout" data-stellar-ratio="1.1">
                    <div class="callout_wrap">
                      <h4>it’s<br>
                      <strong>affordable!</strong></h4>
                      <hr>
                      <div class="callout_content">
                        <p>Joy of Coding is a non- profit event. With the help of our sponsors we aimed to keep registration fees low to provide the best value-for-money conference of 2017. Our very-early bird tickets sell at only EUR 128, just like our previous editions!</p>
                      </div>
                    </div>
                    <img src="img/photo_affordable.jpg" alt="">
                  </div>
                </article>

                <article>
                  <div class="callout" data-stellar-ratio="1.1">
                    <div class="callout_wrap">
                      <h4>Code of<br>
                      <strong>conduct</strong></h4>
                      <hr>
                      <div class="callout_content">
                        <p>We are dedicated to providing an enjoyable, respectful and harassment-free event experience for everyone regardless of gender, gender identity and expression, sexual orientation, disability, physical appearance, body size, race, age, or religion.</p>
                      </div>
                    </div>
                    <img src="img/photo_code_of_conduct.jpg" alt="">
                  </div>
                </article>

                <article>
                  <div class="callout" data-stellar-ratio="1.1">
                    <div class="callout_wrap">
                      <h4>Previous<br>
                      <strong>Editions</strong></h4>
                      <hr>
                      <div class="callout_content">
                        <p>2016: <a href="/2016" target="_blank">website</a> - <a href="https://www.flickr.com/photos/joyofcoding/" target="_blank">photos</a> - <a href="https://www.youtube.com/watch?v=gSPV5ONN_7Q" target="_blank">after movie</a></p>
                        <hr>
                        <p>2015: <a href="/2015" target="_blank">website</a> - <a href="https://www.flickr.com/photos/joyofcoding/" target="_blank">photos</a> - <a href="http://www.infoq.com/joy-of-coding-2015" target="_blank">recorded talks</a> - <a href="https://www.youtube.com/watch?v=LI2yOM4tODw" target="_blank">after movie</a></p>
                        <hr>
                        <p>2014: <a href="/2014" target="_blank">website</a> - <a href="https://www.flickr.com/photos/joyofcoding/albums/72157642055047693" target="_blank">photos</a> - <a href="http://www.infoq.com/joy-of-coding-2014" target="_blank">recorded talks</a></p>
                        <hr>
                        <p>2013: <a href="/2013" target="_blank">website</a> - <a href="https://www.flickr.com/photos/joyofcoding/albums/72157632915801638" target="_blank">photos</a> - <a href="http://www.infoq.com/joy-of-coding-2013" target="_blank">recorded talks</a></p>
                      </div>
                    </div>
                    <img src="img/photo_previous_editions.jpg" alt="">
                  </div>
                </article>
              </div><!-- end lineup-container -->
              <div class="btn_wrap">
                <a href="./schedule" class="btn">Schedule 2017</a> <a href="http://inventid.to/joyofcoding" target="_blank" class="btn">Tickets</a>
              </div>
            </div>
          </section>

        </main>


{{ partial "sponsors.html" . }}
{{ partial "video.html" . }}
{{ partial "aside.html" . }}
{{ partialCached "footer.html" . }}
