---
layout: page
---

<div class="alt-background">
    <div class="alt-background-row">
        <div class="container">
            <div class="row title">
                <div class="col-md-12">
                    <h1 class="rounded">About us_</h1>
                </div>
            </div>


            {% include team.html %}

        </div>
    </div>
    <div class="alt-background-row organization">
        <div class="container">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-3">
                    <h2>Alumni</h2>
                    <div><span>
           We are very grateful to everyone who has contributed to our conference in the previous editions: Felienne Hermans, Peter Hilton, Barre Dijkstra, Reindert-Jan Ekker, Arne Timmerman, Martin van Amersfoorth, Cies Breijs, Rino Kadijk, Freek Leemhuis, Anna Gos, Jacques Bouman, Mark van Straten, Daan van Berkel, Jettro Coenradie, Marc Lainez, Linda van der Pal, Jenny Biekman, Paul van der Maden, Yosuf Haydary, Alex Kuiper, 
           Eline Brader and Anne van den Berg.
           </span></div>
                </div>
                <div class="col-sm-4 editions">
                    {% include previous_editions.html %}
                </div>
                <div class="col-sm-3">
                    <h2>Legal</h2>
                    <div>
                        <span>Joy of Coding is organised by Stichting Devnology, a Dutch non-profit organisation registered with the Kamer van Koophandel (<a href="https://www.kvk.nl/zoeken/?source=all&q=17251880">#17251880</a>). Our VAT number is NL820757573B01.</span>
                        <span>Our mailing address:</span>
                        <pre>
De Ban 2
7047 BB Braamt
The Netherlands
             </pre>
                    </div>
                </div>
                <div class="col-sm-1"></div>
            </div>
        </div>
    </div>

