---
layout: main_page
---

  <div class="alt-background">
    <div class="container">
      <div class="row title">
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="about rounded">
            <h1>Celebrating</h1>
            <h2>Software development</h2>
            <span>
              Joy of Coding is a one-day single-track conference held in Rotterdam. We bring internationally renowned
              speakers to Rotterdam to deliver talks. They cover diverse aspects of the craft, reflecting recent trends
              in industry and academia, as well as a serious amount of joy.
            </span>
            <h2>It's affordable</h2>
            <span>
              Joy of Coding is a non-profit event. With the help of our sponsors we keep registration fees low to
              provide the best value-for-money conference of 2024, just like our previous editions!
            </span>
            <h2>It's by dev, for devs</h2>
            <span>
              Joy of Coding is organised by a bunch of developers. There is no commercial agenda, the schedule is purely
              based on stuff that developers, like us, love to see. Expert speakers but no talking heads. A place where
              we can all get together and talk about code.
            </span>
          </div>
        </div>
        <div class="col-md-6">
          <img class="dedoelen rounded" src="./img/dedoelen.png" alt="Venue: De Doelen">
          <div class="about rounded">
            <h2>Venue</h2>
            <span>
              Joy of Coding 2024 will take place in De Doelen, a concert venue and convention center in Rotterdam.
              Although mainly known as a venue for classical music and jazz, it is also a superb conference location.
              The monumental building is located right in front of the Rotterdam Centraal train station.
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="main-background">
  <div class="container">
    <div class="container">
      <div class="row title">
        <div class="col-md-12">
          <h1 class="rounded">Speakers_</h1>
        </div>
      </div>

      {% include speakers.html %}

      </div>
    </div>
    <br />
  </div>

  <div class="alt-background">
    <div class="container">

      {% include sponsors.html %}

    </div>
  </div>

  <div class="main-background">
    <div class="container">
      <div class="container">
        <div class="row title">
          <div class="col-md-12">
            <h1 class="rounded">Team_</h1>
          </div>
        </div>


        {% include team.html %}


      </div>
    </div>
    <br />
  </div>

