{{ partial "header.html" . }}

    <div id="container" class="page_speaker">
      <div id="scroller">

        <div class="speaker-content">
          <article>
            <header>

              <!---------  Schedule time ----------->
              <div class="spkr_meta"><strong>{{ .Params.sessionType | default "keynote" }}</strong> &nbsp; {{ .Params.keynoteStart }} - {{ .Params.keynoteEnd }}</div>

              <!---------  Speaker photo ----------->
              <img class="spkr_image" src="/img/{{ .Params.speakerImage }}">

              <!---------  Speaker name ----------->
              <h2 class="spkr_title">{{ .Params.name }}</h2>

              <!---------  Speaker tagline ----------->
              <blockquote>{{ .Params.quote }}</blockquote>

            </header>
            <div class="row">
              <div class="bio">

                <!---------  Speaker content ----------->
                {{ .Content }}


                <p>
                  <div class="btn_wrap">
                    <a href="../../schedule" class="btn">Schedule 2017</a>
                  </div>
                </p>
              </div>
              <aside>
                <section>
                  <!---------  Speaker bio ----------->
                  <p>{{ .Params.bio | markdownify }}</p>
                </section>
              </aside>
            </div>
          </article>
        </div>

{{ partial "aside.html" . }}
{{ partial "footer.html" . }}
