/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#masthead {
	height: 8em;
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
    
  position: fixed;
  width: 100%;
  z-index: 4;

  h1 {
		@extend .visuallyhidden;
	}
	
	#site-branding {
  	position: absolute;
  	left: 1.5em;
  	top: 15px;
		z-index: 1;
  	@include grid-media($large) {
    	left: 3.75em;
    	top: 20px;
  	}

		svg {
			color: $red;
			display: block;
			height: 50px;
			transition: color $base-duration;
			width: 140px;

			&:hover,
			&:active {
				color: $blue;
			}
			
			.home & {
  			&:hover,
  			&:active {
  				color: white;
  			}
			}
		}
	}

	&.toggled {
    @media only screen and (max-width: 1024px) {
      position: fixed;
      height: 100%;
      /* Logo white when mobile menu is open */
    	#site-branding {
    		svg {
    			color: white;
    		}
      }
    }
  }
}
