/*--------------------------------------------------------------
# Schedule
--------------------------------------------------------------*/
.page_schedule {

	.schedule-grid {
    @include grid-column(12);
    @include grid-media($medium) {
      @include grid-column(12);
    }

    ul.sg_timeslot {
      @include clearfix();
      display: flex;
      position: relative;
      width: 100%;
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;
  
      @include grid-media($medium) {
        justify-content: space-between;
        overflow-x: inherit;   
      }
      
      &:last-of-type {
      	margin-bottom: 3em;
        @include grid-media($medium) {
        	margin-bottom: 7em;
        }
      }
  
      li {
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        max-width: 200px;
        flex-shrink: 0;
        margin-top: 1.5em;
        margin-right: 1.5em;
        position: relative;
  
        @include grid-media($medium) {
          max-width: none;
          width: 20%;
        }
  
        &.sg_timeslot_header {
          color: #888;
          width: 30px;
          text-align: center;
          display: none;
          @include grid-media($medium) {
            display: block;
            width: 80px;
          }
        }
  
        &.sg_event {
          border-top: 1px solid #0024b3;
          border-bottom: 1px solid #0024b3;
        
          &:after {
            background-color: #fff37e;
            bottom: 0;
            content: '';
            height: calc(100% - .125em);
            left: .75em;
            position: absolute;
            right: 0;
            top: -.75em;
            width: calc(100% - .75em);
            z-index: -1;
          }
          
          &.sg_main {
            &:after {
              background: #fff37e;
              background: -moz-linear-gradient(30deg, #fff37e 40%, #ff5864 100%);
              background: -webkit-linear-gradient(30deg, #fff37e 40%,#ff5864 100%);
              background: linear-gradient(30deg, #fff37e 40%,#ff5864 100%);
              filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff37e', endColorstr='#ff5864',GradientType=1 );
            }
          }
        }
  
        .sg_event_link {
          display: block;
          height: 100%;
          text-decoration: none;
          
          &:hover,
          &:active {
            text-decoration: none;

            .sg_event_title {
              text-decoration: underline;
            }
          }
        }

        .sg_event_title {
        	font-style: italic;
        	font-family: "Times New Roman", "Times", "Georgia", "Cambria", serif;
        	font-size: 1.25em;
        	line-height: 1.1em;
        	margin-bottom: 4rem;
        	width: 200px;

        	@include grid-media($large) {
          	font-size: 1.75em;
            width: 97%;
        	}
  
        	@include grid-media($xxlarge) {
          	font-size: 2.25em;
        	}
        }

        .sg_event_meta {
          font-size: .6875em;
          padding-top: 2em;
          padding-bottom: 1em;
          text-transform: uppercase;
  
          .sg_event_type,
          .sg_event_speaker {
            font-weight: bold;
            margin-right: .25rem;
          }
          
          &.meta_2 {
            padding-bottom: 1.5em;
            position: absolute;
            right: 0;
            bottom: 0;
          }
        }

        &.sg_event_empty {
          margin-right: 0;
          @include grid-media($medium) {
            margin-right: 1.5em;
          }
        }
      }
    }
  }
}