.nav-blocks li {
	float: left;
    margin-bottom: 0px;
}

.nav span {
	position: relative;
    display: block;
    padding: 10px 15px;
    color: #668;
    cursor: not-allowed;
}

.skyblue {
	background-color: #67a7e5;
	color: #243a4f;
}

.skyblue a {
	color: #243a4f;
}

.skywhite {
	background-color: #FFF;
}

.the-robots-are-coming {
	padding-top: 140px;
	padding-bottom: 64px;
	background-image: url('../img/joc-euromast-1.jpg');
	background-size: cover;
	background-position: center
}
.the-robots-are-coming a {
	color: #EEE;
}

.the-robots-are-coming-small {
	padding-top: 128px;
	padding-bottom: 140px;
	background-image: url('../img/joc-euromast-1.jpg');
	background-size: cover;
	background-position: 50% 40%
}

.code-of-conduct {
	padding-top: 128px;
	padding-bottom: 140px;
	background-image: url('../img/joc-euromast-2.jpg');
	background-size: cover;
	background-position: 50% 40%;
}

.contact-us {
	padding-top: 128px;
	padding-bottom: 140px;
	background-image: url('../img/joc-euromast-3.jpg');
	background-size: cover;
	background-position: 50% 40%;
}

.spnsoring {
	padding-top: 128px;
	padding-bottom: 140px;
	background-image: url('../img/joc-spnsoring-2.jpg');
	background-size: cover;
	background-position: 50% 100%;
}

.venue-de-doelen {
	padding-top: 128px;
	padding-bottom: 140px;
	background-image: url('../img/joc-venue.jpg');
	background-size: cover;
	background-position: 50% 40%;
}

.venue-de-doelen2 {
	padding-top: 128px;
	padding-bottom: 140px;
	background-image: url('../img/joc-doelen.jpg');
	background-size: cover;
	background-position: 50% 40%;
}

.accessibility {
	padding-top: 128px;
	padding-bottom: 140px;
	background-image: url('../img/joc-accessibility.png');
	background-size: cover;
	background-position: 50% 40%;
}

.joc-logo {
	height: 320px;
}

@media only screen and (max-width: 420px) {
	.the-robots-are-coming {
		padding-top: 64px;
		padding-bottom: 64px;
	}
	.joc-logo {
		height: 128px;
	}
}

.joc-title {
	color: #FFF;
	text-shadow: 2px 3px #000000;
	font-size: 32pt;
	text-align: center;
}

.joc-motto {
	color: #FFF;
	text-shadow: 2px 3px #000000;
	font-size: 24pt;
	text-align: center;
}

.joc-details {
	color: #FFF;
	text-shadow: 1px 2px #000000;
	font-size: 14pt;
	text-align: center;
}

.team img {
	width: 200px;
}

.year {
	font-weight: bold;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.photo-background {
  background-color: #EEE;
}

article {
	margin-top: 16px;
	margin-bottom: 64px;	
}

.speaker {
	margin-top: 16px;
	margin-bottom: 16px;	
}

.speaker h2 {
	margin-top: 0px;
}

.lightning a {
	font-size: 14pt; 
}

.speaker-photo {
    max-width: 100%;
}

.partner {
	margin-top: 16px;
	margin-bottom: 16px;	
}

.partner h1 {
	margin-top: 64px;
}

.partner-logo {
    max-width: 100%;
}

.partner-logo-space {
    max-width: 90%;
}

.introslide-partner {
	max-height: 192px;
}

.introslide-partner-small {
	max-height: 160px;
}


.introslide-sponsor {
	max-height: 72px;
}

.footer .partner {
	margin-bottom: 64px;
}

.sponsor {
	margin-top: 16px;
	margin-bottom: 16px;	
}

.sponsor span {
	margin-left: 32px;
	margin-right: 32px;
}

.partner span {
	margin-left: 64px;
	margin-right: 64px;
}

.sponsor h1 {
	margin-top: 64px;
}

.sponsor-logo-norm {
    max-width: 100%;
}

.sponsor-logo-space {
    max-width: 80%;
}

.sponsor-logo-space2 {
    max-width: 60%;
}

.center {
	text-align: center;
}

.tickets {
	margin-top: 32px;
	margin-bottom: 32px;
}

.info i {
	border: 5px solid #67a7e5;
	border-radius: 0.5em;
	background-color: #67a7e5;
	color: #243a4f;
}
.info i:before {
	font-weight:bold;
	content:"i"
}
.info .text { 
	display:none; 
	position:absolute;
	max-width:36em; 
	padding:0.5em; 
	border: 2px solid; 
	border-radius:0.5em; 
	background-color: #67a7e5;
	color: #243a4f;
}
.info:hover .text { display:block; }

.schedule-talk .speaker-talk {
	font-size: 12pt;
}

.schedule {
	margin-top: 1em;
	display: none;
}

.schedule h3 {
	padding-left: 0.25em;
}

.schedule .selected {
	color: #FFF;
	background-color: #67a7e5;	
}

.timeslot {
	padding-left: 0.5em;
	margin-top: 0.5em;
	font-size: 12pt;
}

.schedule-talk .speaker-bio {
	font-size: 12pt;
}

.speaker-bio-photo {
	margin-top: 1em;
	margin-bottom: 1em;
}

.speaker-bio-photo img {
	height: 192px;
}

.speedmeeting img {
	margin-top: 1em;
	margin-right: 0.5em;
}

.sponsoring-table {
	margin: 1em auto;
	table-layout: fixed;
	background-color: #eee;
}

.sponsoring-table .price {
	border-top: 1px solid #fff;
	font-weight: bold;
}

.sponsoring-table th {
	font-weight:bold;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	border-bottom: 1px solid #fff;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.sponsoring-table td {
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	padding-left: 0.5em;
	padding-right: 0.5em;
}
