.nav-blocks li {
	float: left;
    margin-bottom: 0px;
}

.nav span {
	position: relative;
    display: block;
    padding: 10px 15px;
    color: #668;
    cursor: not-allowed;
}

.skyblue {
	background-color: #67a7e5;
	color: #243a4f;
}

.skyblue a {
	color: #243a4f;
}

.skywhite {
	background-color: #FFF;
}

.the-robots-are-coming {
	padding-top: 140px;
	padding-bottom: 64px;
	background-image: url('../img/joc-euromast-1.jpg');
	background-size: cover;
	background-position: center
}
.the-robots-are-coming a {
	color: #EEE;
}

.the-robots-are-coming-small {
	padding-top: 128px;
	padding-bottom: 140px;
	background-image: url('../img/joc-euromast-1.jpg');
	background-size: cover;
	background-position: 50% 40%
}

.code-of-conduct {
	padding-top: 128px;
	padding-bottom: 140px;
	background-image: url('../img/joc-euromast-2.jpg');
	background-size: cover;
	background-position: 50% 40%;
}

.contact-us {
	padding-top: 128px;
	padding-bottom: 140px;
	background-image: url('../img/joc-euromast-3.jpg');
	background-size: cover;
	background-position: 50% 40%;
}

.joc-logo {
	height: 320px;
}

@media only screen and (max-width: 420px) {
	.the-robots-are-coming {
		padding-top: 64px;
		padding-bottom: 64px;
	}
	.joc-logo {
		height: 128px;
	}
}

.joc-title {
	color: #FFF;
	text-shadow: 2px 3px #000000;
	font-size: 32pt;
	text-align: center;
}
.joc-motto {
	color: #FFF;
	text-shadow: 2px 3px #000000;
	font-size: 24pt;
	text-align: center;
}

.joc-details {
	color: #FFF;
	text-shadow: 1px 2px #000000;
	font-size: 14pt;
	text-align: center;
}

.team img {
	width: 200px;
}

.year {
	font-weight: bold;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.photo-background {
  background-color: #EEE;
}

article {
	margin-top: 16px;
	margin-bottom: 64px;	
}

.speaker {
	margin-top: 16px;
	margin-bottom: 16px;	
}

.speaker h2 {
	margin-top: 0px;
}

.speaker-photo {
    max-width: 100%;	
}

.center {
	text-align: center;
}

.tickets {
	margin-top: 32px;
	margin-bottom: 32px;
}
