.nav-blocks li {
	float: left;
    margin-bottom: 0px;
}

.nav span {
	position: relative;
    display: block;
    padding: 10px 15px;
    color: #668;
    cursor: not-allowed;
}

.skyblue {
	background-color: #67a7e5;
	color: #243a4f;
}

.skyblue a {
	color: #243a4f;
}

.skywhite {
	background-color: #FFF;
}

.the-robots-are-coming {
	padding-top: 110px;
	padding-bottom: 64px;
	background-image: url('../img/joc-euromast-1.jpg');
	background-size: cover;
	background-position: center
}
.the-robots-are-coming a {
	color: #EEE;
}

.the-robots-are-coming-small {
	padding-top: 128px;
	padding-bottom: 140px;
	background-image: url('../img/joc-euromast-1.jpg');
	background-size: cover;
	background-position: 50% 40%
}

.introslide-the-robots-are-coming {
	padding-top: 80px;
	padding-bottom: 64px;
	background-image: url('../img/joc-euromast-1.jpg');
	background-size: cover;
	background-position: center
}

.code-of-conduct {
	padding-top: 128px;
	padding-bottom: 140px;
	background-image: url('../img/joc-euromast-2.jpg');
	background-size: cover;
	background-position: 50% 40%;
}

.contact-us {
	padding-top: 128px;
	padding-bottom: 140px;
	background-image: url('../img/joc-euromast-3.jpg');
	background-size: cover;
	background-position: 50% 40%;
}

.spnsoring {
	padding-top: 128px;
	padding-bottom: 140px;
	background-image: url('../img/joc-spnsoring-2.jpg');
	background-size: cover;
	background-position: 50% 100%;
}

.venue-de-doelen {
	padding-top: 128px;
	padding-bottom: 140px;
	background-image: url('../img/joc-venue.jpg');
	background-size: cover;
	background-position: 50% 40%;
}

.venue-de-doelen2 {
	padding-top: 128px;
	padding-bottom: 140px;
	background-image: url('../img/joc-doelen.jpg');
	background-size: cover;
	background-position: 50% 40%;
}

.accessibility {
	padding-top: 128px;
	padding-bottom: 140px;
	background-image: url('../img/joc-accessibility.jpg');
	background-size: cover;
	background-position: 50% 40%;
}

.joc-logo {
	height: 320px;
}

@media only screen and (max-width: 420px) {
	.the-robots-are-coming {
		padding-top: 64px;
		padding-bottom: 64px;
	}
	.joc-logo {
		height: 128px;
	}
}

.joc-title {
	color: #FFF;
	text-shadow: 2px 3px #000000;
	font-size: 32pt;
	text-align: center;
}

.joc-motto {
	color: #FFF;
	text-shadow: 2px 3px #000000;
	font-size: 24pt;
	text-align: center;
	background-color: #AAAAAA80;
	border-radius: 10px;
}

.joc-date {
	color: #FFF;
	text-shadow: 2px 3px #000000;
	font-size: 16pt;
	text-align: center;
}


.joc-details {
	color: #FFF;
	text-shadow: 1px 2px #000000;
	font-size: 14pt;
	text-align: center;
}

.team img {
	width: 200px;
}

.year {
	font-weight: bold;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.photo-background {
  background-color: #EEE;
}

article {
	margin-top: 16px;
	margin-bottom: 64px;	
}

.speaker {
	margin-top: 16px;
	margin-bottom: 16px;	
}

.speaker h2 {
	margin-top: 0px;
}

.lightning a {
	font-size: 14pt; 
}

.speaker-photo {
    max-width: 100%;
}

.partner {
	margin-top: 16px;
	margin-bottom: 16px;	
}

.partner h1 {
	margin-top: 64px;
}

.partner-logo {
    max-width: 100%;
}

.partner-logo-space {
    max-width: 90%;
}

.introslide-partner {
    margin-top: 24px;
    margin-bottom: 24px;
	max-height: 160px;
}

.introslide-partner-small {
	max-height: 160px;
}

.introslide-sponsor {
	max-height: 64px;
}

.announcement {
	margin-left: 25%;
	margin-right: 25%;
	width: 36%;
	font-weight: bold;
	font-size: 16pt;
}
.announcement span {
	color: #FFF;
	text-shadow: 1px 2px #243a4f;
}

.bottom {
	margin-bottom: 16px;
}

.introslide-title {
	color: #FFF;
	text-shadow: 3px 4px #000000;
	font-size: 42pt;
	text-align: center;
}

.sponsor {
	margin-top: 16px;
	margin-bottom: 16px;	
}

.sponsor span {
	margin-left: 32px;
	margin-right: 32px;
}

.partner span {
	margin-left: 64px;
	margin-right: 64px;
}

.sponsor h1 {
	margin-top: 64px;
}

.sponsor-logo-norm {
    max-width: 100%;
}

.sponsor-logo-space {
    max-width: 80%;
}

.sponsor-logo-space2 {
    max-width: 60%;
}

.center {
	text-align: center;
}

.tickets {
	margin-top: 16px;
	margin-bottom: 32px;
}

.info i {
	border: 5px solid #67a7e5;
	border-radius: 0.5em;
	background-color: #67a7e5;
	color: #243a4f;
}
.info i:before {
	font-weight:bold;
	content:"i"
}
.info .text { 
	display:none; 
	position:absolute;
	max-width:36em; 
	padding:0.5em; 
	border: 2px solid; 
	border-radius:0.5em; 
	background-color: #67a7e5;
	color: #243a4f;
}
.info:hover .text { display:block; }

.schedule-talk .speaker-talk {
	font-size: 12pt;
}

.schedule {
	margin-top: 1em;
}

.schedule h3 {
	padding-left: 0.25em;
}

.schedule .selected {
	color: #FFF;
	background-color: #67a7e5;	
}

.schedule .selected a {
	color: #FF8;
}

.timeslot {
	padding-left: 0.5em;
	margin-top: 0.5em;
	font-size: 12pt;
}

.startslot {
	border-left: 4px solid #FFF;
}

.endslot {
	border-left: 4px solid #FFF;
}

.shortslot {
	border-left: 4px solid #888;
}

.singleslot {
	min-height: 2em;
	border-left: 4px solid #888;
	padding-top: 0.30em;
}
.timeslot:hover {
	color: #FFF;
	background-color: #67a7e5;	
}

.timeslot:hover a {
	color: #FF8;
}

.doubleslot {
	min-height: 3em;
	border-left: 4px solid #888;
	padding-top: 0.75em;
}

.schedule-talk .speaker-bio {
	font-size: 12pt;
}

.speaker-bio-photo {
	margin-top: 1em;
	margin-bottom: 1em;
}

.speaker-bio-photo img {
	height: 192px;
}

.speedmeeting img {
	margin-top: 1em;
	margin-right: 0.5em;
}

.sponsoring-table {
	margin: 1em auto;
	table-layout: fixed;
	background-color: #eee;
}

.sponsoring-table .price {
	border-top: 1px solid #fff;
	font-weight: bold;
}

.sponsoring-table th {
	font-weight:bold;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	border-bottom: 1px solid #fff;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.sponsoring-table td {
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.spreaker-short {
    color: #888;	
}

.whatisit {
	font-size: 12pt;
	margin-top: 32px;
}

.lightningtalks h3 {
	margin-top: 32px;
	font-size: 16pt;
}

.lightningtalks h4 {
	font-size: 12pt;
}

.cancelled {
	text-decoration: line-through;
}

.ribbon {
  position: absolute;
  left: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#4E0A82 0%, #4E0A82 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; left: -21px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #4E0A82;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #4E0A82;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #4E0A82;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #4E0A82;
}