body {
	font-family: 'Open Sans', sans-serif;
}

.erasmus {
	background-image: url('../img/erasmus.jpg');
	background-position: center;
	background-size: cover;
}

.main-background {
	background-image: url('../img/background-main.jpg');
	background-position: center;
	background-size: cover;
}

.top-space {
	margin-top: 158px;
}

.subtitle {
	background-color: white;
	color: black;
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	font-size: 14pt;
	font-style: italic;
	line-height: 1em;
	padding: 14px 30px 14px 40px;
	margin-bottom: 20px;
}

.dayof {
	background-color: #e95295;
	color: white;
	font-family: 'Teko', sans-serif;
	font-weight: 400;
	font-size: 34pt;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 20px;
	margin-bottom: 50px;
	text-transform: uppercase;
}

.navigation {
	font-family: 'Teko', sans-serif;
	font-weight: 300;
	font-size: 34pt;
	text-align: center;
	padding-top: 25px;
}

.nav {
	float:none;
	display: inline-block;
}

.navigation a {
	color: black;
}
.navigation .nav li a:hover {
	color: #e95295;
	background: none;
}

img {
	max-width:100%;
	max-height:100%;
}

h1 {
	font-family: 'Teko', sans-serif;
	font-weight: 400;
	font-size: 44pt;
	margin-top: 0px;
	margin-bottom: 0px;
	text-transform: uppercase;
}

h2 {
	font-family: 'Teko', sans-serif;
	font-weight: 400;
	font-size: 24pt;
	margin-top: 0px;
	margin-bottom: 0px;
	text-transform: uppercase;
}

h3 {
	font-family: 'Teko', sans-serif;
	font-weight: 400;
	font-size: 20pt;
	margin-top: 0px;
	margin-bottom: 0px;
	text-transform: uppercase;
}

.about {
	color: white;
	background-color: #08466f;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 40px; 
	padding-bottom: 40px; 
	margin-bottom: 20px;
}

.about span {
	display: block;
	padding-bottom: 8px;
}

.title {
	margin-top: 25px;
	text-align: center;
	color: white;
}
.title h1 {
	background-color: #e95295;
	display: inline;
	padding-left: 25px;
	padding-right: 25px;
}
.title h2 {
	background-color: #e95295;
	display: inline;
	padding-left: 25px;
	padding-right: 25px;
}

.sponsor-title {
	margin-top: 75px;
}

.speakers {
	margin-top: 50px;
}

.partners, .sponsors {
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 50px;
	margin-bottom: 50px;
	background-color: white;
	box-shadow: 15px 15px #bab4a8;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 15px;
	padding-right: 15px;	
	text-align: center;
}


.image-container {
	display: inline-block;
	max-width: 128px;
	margin-left: 15px;
	margin-right: 15px;
}

