/*--------------------------------------------------------------
# Code of conduct
--------------------------------------------------------------*/
.page-code_conduct {
  
  /*--------------------------------------------------------------
  # Code of conduct
  --------------------------------------------------------------*/
  #code_conduct {
  	@extend .wrapper;

    article {
	  	.entry-content > div {
  	  	margin-bottom: 2.5em;
	  	}
      .intro {
        font-size: 1.25em;
        @include grid-column(12);
        @include grid-media($medium) {
          @include grid-column(7);
          @include grid-push(5);
         	margin-bottom: 5em;
        }
      }
      .harrassment {
        @include grid-column(12);
        @include grid-media($medium) {
          @include grid-column(7);
        }
      }
      .help {
        @include grid-column(12);
        @include grid-media($medium) {
          @include grid-column(5);
        }
      }
      
      .offensive-content {
        @include grid-column(12);
        @include grid-media($medium) {
          @include grid-column(4);
        }
      }

      .alcohol {
        @include grid-column(12);
        @include grid-media($medium) {
          @include grid-column(4);
        }
      }

      .compliance {
        @include grid-column(12);
        @include grid-media($medium) {
          @include grid-column(4);
        }
      }
      
      .credits {
        @include grid-column(12);
        @include grid-media($medium) {
          @include grid-column(12);
        }
        margin-bottom: 3em;
     }

      h3 {
        font-size: 1.5em;
        letter-spacing: -1px;
      }
	  }
  }
}